[2018-03-14 00:13] andrewdhicks opened #14 "Top level heading used as the title in the table of contents"
On the folder listing page, any top level heading is pulled in, making it hard to distinguish between notebooks.
E.g. for Products: http://geoscienceaustralia.github.io/digitalearthau/notebooks/products/README.html
There are 2 notebooks:

- Getting started with Sentinel 2 data
- View Landsat 8 imagery for a chosen time period

but many headings are pulled in. If we can add another `#` to the other

[2018-03-14 00:18] andrewdhicks opened #15 "Pylab images not getting rendered in the docs"
It looks like plots are not appearing when generated with `% pylab notebook`
E.g. http://geoscienceaustralia.github.io/digitalearthau/notebooks/products/GettingStartedWithSentinel2.html#See-what-Sentinel-2-products-are-currently-available

Using `%matplotlib inline` will work, and we could investigate other methods, such as `%matplotlib notebook`

[2018-03-14 22:16] robbibt opened #19 "Case studies directory currently undocumented"
The case_studies notebook directory has no readme description like the other three directories, so it is currently unclear what kind of notebooks/code belong here

https://github.com/GeoscienceAustralia/dea-notebooks/tree/master/case_studies

[2018-03-15 00:51] #19 closed

[2018-03-16 02:39] robbibt commented on #14
I believe this should be fixed by #27 ; if it is still a problem I'll re-open this issue

[2018-03-16 05:40] robbibt opened #32 "Issue with bands_of_interest in load_nbarx"
@CEKrause @BexDunn I've had some issues with the `bands_of_interest` parameter in load_nbarx: any time I try to specify a set of bands, the function crashes out with a key error `KeyError: 'bands_of_interest'`. It works fine when no bands are specified.

I think this is because the function wants `bands_of_interest` given to it as a **kwarg, which only works when expanding dictionaries. I was thin

[2018-03-16 05:45] robbibt commented on #32
Actually, by defining a default value to bands_of_interest like `bands_of_interest = ""` , the existing `if bands_of_interest:` bit should make it work without breaking code... might give this a go next week!

[2018-03-16 05:49] andrewdhicks commented on #14
I've triggered a build of the docs, there are still a few top level headings around:

`products/LandsatSentinelComparisonandPixelDrill.ipynb` _"Plot up an image so we can select a pixel for further interrogation"_
`algorithms/RandomForestClassification.ipynb` Most of the headings

[2018-03-16 06:02] robbibt commented on #14
That's annoying; I fixed RandomForestClassification in 739e48a, but looks like that file has been overwritten somehow since then... will have another go next week

[2018-03-16 06:20] andrewdhicks commented on #14
Looks like a rouge file got committed here: https://github.com/GeoscienceAustralia/dea-notebooks/pull/21/files#diff-35b1cf5e5dcdf7542c00d8d278087be6

[2018-03-18 23:19] BexDunn commented on #32
default value might need to be red, green, blue, swir, nir? I guess we want default to be all bands?
 @CEKrause @robbibt

[2018-03-20 03:49] robbibt commented on #32
Closed by #34

[2018-03-20 03:49] #32 closed

[2018-03-20 03:51] robbibt opened #37 "Tags in Tags Index link to glossary rather than notebooks"
Tags that are also mentioned in the DEA Glossary link to the glossary page, not notebooks.

To reproduce:
1) Visit [Tags index](http://geoscienceaustralia.github.io/digitalearthau/genindex.html)
2) Click a tag like "DEA" which is also included in the Glossary

You are directed to the [Glossary](http://geoscienceaustralia.github.io/digitalearthau/about/glossary.html#term-dea) page rather than the c

[2018-03-20 03:53] robbibt commented on #37
Actually, a related issue: what _is_ the intended behavior when you click on a tag? Currently it links to the first (?) notebook with the tag, but ideally you would want to get back a list of matching notebooks.

[2018-03-20 04:00] BexDunn opened #38 "Scripts vs algorithms:"
Hey friends,
Thoughts on creating a subfolder/an alternate folder for scripts vs algorithms? Because we have plenty of scripts to load, and they aren't necessarily notebook examples of using algorithms?
Bex

[2018-03-20 04:08] robbibt commented on #38
I agree; the algorithms directory feels a little awkward now that it is filled up with python scripts. Could the two notebooks in there be moved elsewhere to make it just python files? My one (random forest) could probably work in either case_studies and workflows.

On that topic, I'm also not entirely convinced that we need separate case_studies and workflows directories... both seem very similar

[2018-03-20 04:11] robbibt commented on #38
Actually `scripts` probably is a better description for a directory of only python scripts

[2018-03-20 04:20] andrewdhicks commented on #37
We are reusing the glossary index as our tags index, so they are mixed in, with the glossary terms in bold. Is there a notebook with a tag like "DEA" that isn't getting linked?

With multiple notebooks with the same tag, that's when you get the `[1]` after the term.

[2018-03-20 04:36] robbibt commented on #37
Ah, no worries; I assumed the tag list just contained tags imported from the notebooks (the tags don't show up on notebooks rendered in Github so it's difficult to check what notebooks have what tags). From the sound of this it's all working as it's meant to.

[2018-03-20 04:36] #37 closed

[2018-03-20 04:43] andrewdhicks commented on #37
It is still all an experiment, so it is more of a matter of is it useful/understandable, rather than any sort of design.

[2018-03-20 06:01] BexDunn opened #40 "missing step in docs for tags"
For tags, you need to select 'Cell Type --> Raw NBConvert
Before you can select Raw NBConvert Format --> reST on the dropdown box that appears on the top right hand side of the cell.

Will do a pull request but this issue is for anyone else that runs into it before I have time to fix/ if anyone gets to it first that's also good :)
Bex

![image](https://user-images.githubusercontent.com/20038594/37

[2018-03-23 21:05] rjdunn commented on #38
yes - shall we create a scripts directory?

[2018-04-16 01:21] robbibt opened #53 "DEAPlotting functions produce inconsistent outputs"
The two plotting functions in DEAPlotting produce inconsistent outputs: `three_band_image` produces a matplotlib "plot" and "figure" objects wrapped in a tuple, while `three_band_image_subplots` simply plots the image directly without creating plot/figure objects.

For consistency/ease of use, it would be great if these both functioned in the same way.

https://github.com/GeoscienceAustralia/dea-n

[2018-04-20 00:08] BexDunn opened #56 "dataset_to_geotiff function throws a dtype value error"
Looks like we need to change the values to uint8 to get the geotiff to work

![image](https://user-images.githubusercontent.com/20038594/39024218-c52567fc-4482-11e8-931c-514a34dbdd87.png)

[2018-04-20 00:49] BexDunn commented on #56
-problem might be that predictor is hard coded, and we have removed the hardcoding from dtype
              'compress': 'deflate', 'zlevel': 4, 'predictor': 3}
    # for ints use 2 for floats use 3}

[2018-04-20 01:29] BexDunn commented on #56
yup, this is definitely the problem, will work on fixing it :)

[2018-04-20 01:38] BexDunn commented on #56
Argh, could have an additional problem with s2 being a mix of uint8 and int16

[2018-04-23 01:41] robbibt opened #58 "Adding a list and description of Algorithm functions to readme file"
One of the key issues discussed at the dea-notebooks meeting last week was the lack of a list of all functions in Algorithms.

I've created a pull request (https://github.com/GeoscienceAustralia/dea-notebooks/pull/57) with a possible way to have some basic documentation of the growing list of functions in Algorithms: simply update the readme file with a list and basic descriptions of the functions

[2018-04-24 01:01] robbibt commented on #58
![capture](https://user-images.githubusercontent.com/17680388/39160468-e0908f06-47ae-11e8-8c56-695bab3268b1.PNG)

[2018-05-02 00:42] #58 closed

[2018-05-07 00:08] robbibt commented on #38
This has been superseded by the big shuffle that just happened - closing for now

[2018-05-07 00:08] #38 closed

[2018-05-11 07:23] robbibt opened #73 "Better organisation for loose images in dea-notebooks/DEA_datasets"
The new Landsat notebooks come with some extra local images that are currently located at `dea-notebooks/DEA_datasets`. I can see that some of these "GettingStarted..." notebooks might need local files like this, but I think we might want to organise them a bit better. Perhaps they could all be stored in a folder in that directory? Something like:

`dea-notebooks/DEA_datasets/images`

@asivapra @C

[2018-05-15 05:01] BexDunn opened #80 "Referencing in dea-notebooks"
Further to discussions today about making sure we reference any direct quotes from previously published material:

I've added a section in dea-notebooks documentation with a link to the GA referencing guide.

We need to please caption and reference any images used that have been previously published elsewhere.

For document references,
I've decided to include an internal and and external link for

[2018-05-16 03:54] robbibt commented on #80
I definitely agree with referencing anything (images or text) that's been lifted from other sources... so far I've been dealing with it simply by hyperlinking in-text references, although this doesn't apply to internal links (by this do you mean GA TRIM links?). The biggest issue I can see is that since notebooks are a pretty visual medium we don't want to add in too much clutter or they will beco

[2018-05-18 04:04] asivapra opened #92 "Update three_band_image_subplots function to work identically to three_band_image"
Robbi,
In the "DEAPlotting.three_band_image_subplots", could you consider changing the following line?

img_toshow = rawimg / 5000
to
img_toshow = (rawimg / 5000).clip(0, 1)

It will avoid warnings like below.

"Clipping input data to the valid range for imshow with RGB data ([0..1] for floats or [0..255] for integers)."

[2018-05-18 04:48] robbibt commented on #92
I have renamed this issue as the three_band_image_subplots really should be updated to function exactly the same as the three_band_image function. This will probably break people's code, so will think on how to do this the best way.

[2018-05-18 04:48] robbibt commented on #53
Superseded by #92

[2018-05-18 04:48] #53 closed

[2018-05-24 00:09] robbibt opened #109 "Update GettingStarted notebooks to use DEA functions instead of hardcoding"
Currently some of the example notebooks (e.g. "GettingStartedWithLandsat5-6-7") use older versions of the DEA functions that have been hard-coded into the notebook.

Instead, we should use the existing DEA module functions.

[2018-05-24 00:11] robbibt opened #110 "Notebook that covers reprojection and importing datasets with different CRSs"

[2018-05-24 02:32] CEKrause commented on #109
@robbibt Can you provide an example? I don't quite know what you mean...

[2018-05-25 05:12] CEKrause opened #117 "Need to add -1 as no data in FC notebook"

[2018-05-25 05:15] robbibt commented on #117
This should be covered both in the dataset description and in the actual code examples.

[2018-05-25 05:17] robbibt opened #118 "Need to add -999 as nodata for NBAR in GettingStartedWithLandsat5-7-8 notebook"
The `GettingStartedWithLandsat5-7-8.ipynb` notebook currently includes "Note that the NBAR-T data inserts a missing value (-999) into the dataset to denote a terrain shadow. This should be converted to a NaN value before using this data to avoid treating it as a valid value."

However, NBAR also includes -999 values for nodata. This should be covered both in the dataset description **and** in the

[2018-05-30 05:41] BexDunn opened #121 "update WOFS notebook with caveats on classification algorithm"
WOFS notebook  - check that algorithm is based off our surface reflectance product (vs USGS L2), is actually valid, and can be used, or add a caveat that it is pending the newWOFS product and is probably not the best version

[2018-05-31 01:13] BexDunn opened #124 "Update geotiff writer :data percentage in loadclearlandsat breaks geotiff writer"
Need to change data percentage datatype or make array of same size as others else geotiff writer won't work without dropping it

[2018-05-31 06:03] cbur24 opened #128 "uncomment zonal_timeseries"
Please uncomment the zonal_timseries function once the rasterstats package has been added to the DEA-prod module

[2018-06-01 00:21] BexDunn commented on #117
Done! Checkout Intro to fractional cover notebook

[2018-06-01 00:21] #117 closed

[2018-06-04 00:13] #118 closed

[2018-06-04 00:16] #73 closed

[2018-06-04 00:16] #109 closed

[2018-06-22 04:37] walsh-andrew opened #150 "Bad link for "Join our Slack community""
http://geoscienceaustralia.github.io/digitalearthau/connect/account.html

Hyperlink for "Join our Slack Community" currently points to https://opendatacube.signup.team/

Should point to: https://opendatacube.slack.com ?

[2018-06-22 05:13] walsh-andrew opened #151 "Bad link on "Loading data" page"
http://geoscienceaustralia.github.io/digitalearthau/query/Loading%20Data.html

The link right at the bottom of the page takes to a "does not exist page":

http://datacube-core.readthedocs.io/en/stable/dev/generate/datacube.Datacube.load.html

[2018-06-22 05:22] walsh-andrew opened #152 "Clarification needed on "Advanced Querying""

[2018-06-22 05:29] walsh-andrew commented on #152
http://geoscienceaustralia.github.io/digitalearthau/query/Advanced%20Querying.html

Some of the terms and code used here is not immediately obvious. It would be useful for the new user to either have these things explained, or tell the user not to worry about the details of them.

This applies to:
1. "Lineage" - a quick definition is needed in this context since some users might not be aware that

[2018-06-22 05:53] walsh-andrew opened #153 "Outward-facing pages shouldn't have "todo" type stuff on them"

[2018-06-22 05:58] walsh-andrew commented on #153
http://geoscienceaustralia.github.io/digitalearthau/notebooks/Getting_started/README.html
http://geoscienceaustralia.github.io/digitalearthau/notebooks/DEA_datasets/README.html

Both these pages have placeholders for future stuff, but these pages are visible to the world. It is probably OK to say on the first page "To add here: - "... but it is a but too much to have "Maybe add here?" on the secon

[2018-06-22 06:55] walsh-andrew opened #154 "Intro to Landsat webpage changes"
http://geoscienceaustralia.github.io/digitalearthau/notebooks/DEA_datasets/Introduction_to_Landsat.html

The abbreviation "SR" is introduced in the NBAR-T section, but it is not defined (presumably 'surface reflectance').  SR can be defined on the first line of the document.

In the first notebook input cell (In [1]:), it says "Import dea-notebook functions. This assumes you are running this noteb

[2018-06-24 23:51] CEKrause commented on #150
This link is in @andrewdhicks DEA code.

[2018-06-24 23:53] CEKrause commented on #151
Also in @andrewdhicks code.

[2018-06-25 01:52] CEKrause opened #162 "Bug in Sentinel pq filtering in load_sentinel"
If bands_of_interest are specified, then pixel_quality needs to be included, or else it will throw an error. Need to add a check that if bands are specified and filter_cloud = True, pixel quality is also grabbed.

[2018-06-25 01:56] CEKrause commented on #162
Additional bug...

[code]

[2018-06-25 03:04] robbibt commented on #151
Were these notebooks ('Getting started', 'List products and measurements' , 'Loading data from the datacube') going to be moved over into this repository? @andrewdhicks @CEKrause

[2018-06-25 03:06] robbibt commented on #154
@walsh-andrew Will put these on my to-do list!

[2018-06-25 03:14] robbibt commented on #162
@CEKrause If you're making changes to this function anyway, would it be worth updating it so that its parameters mostly match load_nbarx?

`load_nbarx(dc, sensor, query, product='nbart', bands_of_interest='', filter_pq=True)`

i.e. changing `filter_cloud` to the more generic `filter_pq`, passing in `bands_of_interest` as a variable that defaults to all bands rather than a kwarg etc. In the future

[2018-06-25 03:16] andrewdhicks commented on #151
That was the plan, but we don't have any more doc taks scheduled for this PI.  I think we probably should try to do something this sprint, as the docs are looking very messy. There are at least 3 pages called "Getting Started"...

[2018-06-26 00:34] CEKrause opened #163 "Example notebook for extracting all bands to geotiff"
For exploring data in e.g. ENVI

Specify bounding box and get back a geotiff with all the bands for that location.

[2018-06-27 07:30] BexDunn opened #167 "turn hov plots into function"

[2018-06-27 07:30] BexDunn opened #168 "return TCI thresholds from tci functions"

[2018-06-28 23:59] CEKrause opened #169 "Need to fix headings levels in Hovmoller notebooks"
@BexDunn
Need to reduce the headings levels to at least "##" for all except the first one. (it is not rendering properly on the website with the higher level headings).

[2018-06-29 02:46] BexDunn commented on #163
hmm, I have plenty of notebooks that do this, but there is no specific example notebook.
Whoever gets around to building this can check out our 'GeoTIFF' tagged notebooks for examples.

[2018-07-09 07:28] seanchua opened #172 "animated time series function cannot accept dimensions named other than x or y"
The function :

`DEAPlotting.animated_timeseries`

requires the dimensions of the input xarray are called x and y when calculating the width ratio:

 `width_ratio = float(ds.sizes['x']) / float(ds.sizes['y'])`

Not essential but would be good to allow for longitude / latitude, lon(g) / lat. More broadly this is an issue I find semi-regularly with functions and libraries related to spatial data so

[2018-07-09 07:31] robbibt commented on #172
Good find, will update this week

[2018-07-09 07:34] robbibt commented on #172
@seanchua Can you do `your_xarray_dataset['your_band'].shape` on your dataset and tell me what it gives you? I just want to see what order it returns the dimensions (might be a more reliable way to extract the width ratio)

[2018-07-10 04:48] seanchua commented on #172
@robbibt The above returns: 6574 (timesteps), 13 (latitude), 14 (longitude).

[2018-07-11 02:30] #172 closed

[2018-07-17 05:00] #154 closed

[2018-08-13 23:42] BexDunn opened #186 "Need to update Scripts paths to 10_Scripts in notebooks"
Scripts folders have been moved - we need to update our paths for loading dea_notebooks from Scripts to 10_Scripts.

[2018-08-13 23:43] robbibt opened #187 "Update three_band_plotting to use xarray's own RGB plotting"
This should be able to be done without breaking code (i.e. change the backend from Matplotlib .imshow to Xarray .imshow)

[2018-08-29 02:15] robbibt opened #194 "Links to folders in main readme are broken"

[2018-08-29 02:35] zxh547 opened #195 "from FileDialog is not working"
In introduction_to_Fractional_cover notebook.

[2018-08-29 02:37] CEKrause commented on #195
@BexDunn I had the same issue in the Mineral Indices notebook, but it didn't seem that this library was actually being used, so I just deleted the import.

[2018-08-29 06:19] BexDunn opened #198 "Files and images are being moved to Supplementary data folder"
Moving files from 02_DEA_datasets/Files to Supplementary_Data/Images

Moving files from 09_Workflows/  mv *.png ../Supplementary_Data/Images/

[2018-08-29 06:53] robbibt commented on #198
Robbi will update `RandomForest` and `GettingStartedwithLandsat`/`PQ` notebooks

[2018-08-29 06:53] BexDunn commented on #186
we're working on this!

[2018-08-29 06:57] BexDunn commented on #186
I'm on intro to fractional cover in the DEA Datasets folder

[2018-08-29 06:59] BexDunn commented on #186
Also adding the helpful header text:

You need to run the following commands from the command line prior to launching jupyter notebooks from the same terminal so that the required libraries and paths are set:

`module use /g/data/v10/public/modules/modulefiles`

`module load dea`

If you find an error or bug in this notebook, please either create an 'Issue' in the Github repository, or fix it your

[2018-08-29 07:09] BexDunn commented on #195
done

[2018-08-29 07:09] #195 closed

[2018-08-29 23:27] #194 closed

[2018-08-31 00:39] zxh547 opened #209 "Interactive_phenology_plot_tagged concatenate issue"
"nbar_clean = xr.concat(sensor_clean.values(),dim='time')" returns the following error:

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

It is possible due to the use of a different version of xarray module.

[2018-09-02 22:53] CEKrause commented on #186
Hi @Bartesto. Can you please let us know exactly what you tried to run and what failed so we can track the problem and fix it. Thanks.

[2018-09-03 05:37] Bartesto commented on #186
Hi Robbi,

Thanks for getting back to me. I’m out of office for 2 weeks so will get back in touch down the track.

Cheers
Bart

Sent from my iPhone

[2018-09-04 07:44] robbibt commented on #80
Mentioned in the overall readme; can close

[2018-09-04 07:44] #80 closed

[2018-09-11 02:08] BexDunn opened #211 "add examples to each of the functions in 10_Scripts directory"
pr #210 adds doctesting, but in order to use this we need examples to test.
add examples to the functions and check that this works

[2018-09-14 00:54] BexDunn commented on #150
This has been fixed http://geoscienceaustralia.github.io/digitalearthau/connect/account.html

[2018-09-14 00:54] #150 closed

[2018-09-14 00:57] BexDunn opened #217 "Join our Slack community link is hard to find"
http://geoscienceaustralia.github.io/digitalearthau/connect/account.html

"Getting Help" is in a drop-down under 'NCI Account Registration"

-can we please move it up to the same level? it's hidden as a default.

it makes it hard to find the Slack sign-up link.
http://geoscienceaustralia.github.io/digitalearthau/connect/account.html#getting-help

[2018-09-14 00:59] BexDunn commented on #169
Done by @andrewdhicks  http://geoscienceaustralia.github.io/digitalearthau/notebooks/05_Temporal_analysis/README.html

[2018-09-14 00:59] #169 closed

[2018-09-14 01:04] robbibt commented on #211
Done for `load_clearsentinel2` in `DEADataHandling`

[2018-09-14 01:05] robbibt commented on #15
Closing for now; can reopen if we find examples of notebooks that still use `pylab notebook`

[2018-09-14 01:05] #15 closed

[2018-09-14 02:15] BexDunn opened #218 "DEADataHandling.py "write your netcdf" doco doesn't correctly reflect functionality"
[code]
Update to "dataset_name is a string chosen by you describing your dataset. This will be written to the netcdf as the name of the dataset"

[2018-10-04 04:54] CEKrause opened #230 "Need to add WOfS to DEA Datasets"

[2018-10-26 03:29] #128 closed

[2018-10-26 04:18] CEKrause commented on #217
Pull request in with the main repo to fix this.

[2018-10-30 03:31] qbastian opened #241 "Fractional Cover path incorrect"
In the first cell, the path to the scripts folder is incorrect.

[2018-10-30 05:43] #241 closed

[2018-10-31 02:44] qbastian opened #244 "PolygonDrill path incorrect"
In the first cell the path is:

sys.path.append(os.path.expanduser('~/dea-notebooks/10_Scripts'))

which doesn't work.

I have used:

sys.path.append('../10_Scripts/')

which does work.

[2018-10-31 02:54] qbastian commented on #244
In the second cell, I suggest changing:

# Set this to the location you have saved your ACT boundary polygon
shape_file = os.path.expanduser('~/dea-notebooks/10_Scripts/ACT_STATE_POLYGON_shp.shp')

to:

# Set this to the location you have saved your ACT boundary polygon
shape_file = ('../10_Scripts/ACT_STATE_POLYGON_shp.shp')

This accords with the changes made in the first cell.

[2018-10-31 03:19] robbibt commented on #217
Hey @CEKrause , did this get fixed?

[2018-10-31 04:43] qbastian commented on #244
Also, I have downloaded the shapefile and added it as a geojson to my 10_Scripts folder.

It would be good to have this file already in the master 10_scripts folder for easy access.

Additionally, in cell three, 'fiona' is not defined. I am unsure what fiona =, so I can not move forward.

[2018-10-31 05:14] qbastian opened #245 "Pixel Drill With Widgets path incorrect"
In the first cell the path is:

sys.path.append(os.path.expanduser('~/dea-notebooks/10_Scripts'))

which doesn't work.

I have used:

sys.path.append('../10_Scripts/')

which does work.

[2018-10-31 21:45] CEKrause commented on #217
Yes! It just got pulled into the main dea repo. It's still a little skewy with the formatting, but it's now easier to find.

[2018-10-31 21:45] #217 closed

[2018-11-01 04:37] robbibt opened #246 "Potential misleading results for contour_extract where a contour elevation doesn't exist"
Currently `contour_extract` uses indices to match attribute data to each contour before writing to file. However, if one contour is missing, the next index will be (incorrectly) assigned to the next contour which does exist.

Need to test that this is indeed the case; flagging as an issue for now so I don't forget.

https://github.com/GeoscienceAustralia/dea-notebooks/blob/master/10_Scripts/Spatia

[2018-11-05 02:29] BexDunn opened #248 "Update three band image subplots"
To do list : update to get bigger images

[2018-11-13 03:29] christopherowers opened #249 "relative path name to 10_scripts"
For example in first cell of Fractional Cover

Import external functions from dea-notebooks
sys.path.append('../10_Scripts/')
import DEAPlotting, DEADataHandling

code assumes clone of repo but not clear in instructions. may need update to remind user before first cell

[2018-11-13 04:33] benjimin commented on #249
I think this issue is referring to the docs at http://geoscienceaustralia.github.io/digitalearthau/

Those are built from a separate repo,
https://github.com/GeoscienceAustralia/digitalearthau/tree/develop/docs

For example, [this page](http://geoscienceaustralia.github.io/digitalearthau/notebooks/07_Image_classification/DEA_WOfS_and_water_classifier.html) of the docs contains some example noteboo

[2018-11-29 22:02] robbibt commented on #151
Resolved when updating notebooks a few months ago

[2018-11-29 22:02] #151 closed

[2018-11-29 22:04] robbibt commented on #246
Closed by #251

[2018-11-29 22:04] #246 closed

[2018-11-29 22:04] #187 closed

[2018-11-29 22:04] #248 closed

[2018-11-29 22:04] #92 closed

[2018-12-21 03:20] s-m-t-c opened #255 "Bug in `load_clear` functions in DEADatahandling"
If you set the output CRS to WGS84 when passing a query to the `load_clear` functions within `DEADatahandling` an error occurs in the calculation of `data_perc` as the `x` and `y` dimensions are returned as `longitude` and `latitude` and this breaks the line:
`data_perc = good_quality.sum(dim=['x', 'y']) / (good_quality.shape[1] * good_quality.shape[2])`

A change to make this dimension title agno

[2019-01-04 04:09] BexDunn opened #257 "Paths to notebook viewers broken"
Composite generation notebooks need paths to nbviewer pages updated

[2019-01-08 03:20] BexDunn opened #258 "multi-timestep masking - put this in a function somewhere"
Use the following code from this notebook to update the Temporal analysis notebook / Scripts in order to add a function for multi- timestep polygon drill/masking

GWDEA_working/Development_Notebooks/TCW_WOfS_FC_stacked_plot_polygon_drill.ipynb#

[code]

[2019-01-10 04:07] robbibt commented on #255
Closed by #260

[2019-01-10 04:08] #255 closed

[2019-01-17 00:46] BexDunn commented on #249
@christopherowers  I've added a comment to the notebook - please let me know if you think it's helpful!

@CEKrause , @robbibt -do we want to add this to the top of other notebooks?

[2019-01-17 00:50] BexDunn commented on #245
this does assume that you put it in your home directory. Which I didn't either. I'll add in the option?

[2019-01-17 03:07] BexDunn opened #263 "Bulk update notebook info sections (related to #186)"
suggest updating to something similar to the following?

`This notebook assumes you have cloned or downloaded a copy of the latest version of the dea-notebooks repository by following the instructions on [DEA notebooks using command line git](https://github.com/GeoscienceAustralia/dea-notebooks#dea-notebooks-using-command-line-git) or [DEA notebooks using Github](https://github.com/GeoscienceAustr

[2019-01-17 03:09] BexDunn commented on #198
I'm going to close this as this is now an established feature :)

[2019-01-17 03:21] robbibt commented on #263
@BexDunn Very minor update to the above for future updates (no need to update the already done ones):

"This notebook assumes you have **cloned or downloaded a copy of the latest version** of the dea-notebooks repository by following the instructions on [DEA notebooks using command line git](https://github.com/GeoscienceAustralia/dea-notebooks#dea-notebooks-using-command-line-git) or [DEA notebook

[2019-01-17 04:18] #257 closed

[2019-01-17 04:29] robbibt opened #265 "Replace references to module load dea/20180515 with new version of dea"
Concatenating arrays used to break on `module load dea`. We temporarily directed people to load `dea/20180515`, but now we can revert this back to `module load dea`

[2019-02-12 02:33] robbibt commented on #258
Just ran into this too. Here's another solution that works too:

`landsat_ds.where(np.expand_dims(mask, axis=0))`

[2019-02-20 02:15] BexDunn opened #267 "Outputting data produce false color geotiffs is using 'three_band_image' - can update to rgb"
http://geoscienceaustralia.github.io/digitalearthau/notebooks/08_Outputting_data/ProduceFalseColourGeotiffs.html#index-8

Need to update to using the rgb function :)

[2019-02-20 02:33] BexDunn opened #268 "Update loadclearlandsat function to science defaults"
create a 'science' default within loadclearlandsat using the full pq dictionary and
mask_pixel_quality=True

loadclearlandsat is set to animation defaults at the moment.

(or split into 'loadclearlandsat' and 'loadclearlandsat_toanimate'

[2019-02-27 03:28] robbibt opened #270 "Changes to `datacube.storage.storage` in latest dea module"
`from datacube.storage.storage import write_dataset_to_netcdf` has been updated to `datacube.drivers.netcdf` in the latest `dea/20190214` module (which is to become the new default `dea` module. This causes `DEADataHandling.py` to fail with the message:

`ModuleNotFoundError: No module named 'datacube.storage.storage'`

We should fix this before (or just after?) the `dea` module swaps over

[2019-03-01 05:09] robbibt opened #272 "Find work-around for try/except in loadclear functions"
Currently try/except hide any helpful error messages you encounter while using loadclearlandsat and sentinel. This should be replaced with a better alternative to help future bugfixing

[2019-03-04 23:19] #272 closed

[2019-03-04 23:23] #268 closed

[2019-03-05 02:20] robbibt commented on #270
Fixed in dea data handling, will close for now

[2019-03-05 02:20] #270 closed

[2019-03-05 04:57] BexDunn commented on #186
I think we've got all of these. I'm going to close the issue. Please reopen if you find more problems. specifically with the /10_Scripts path not being updated from /Scripts, or open a new issue for other problems.

[2019-03-05 04:57] #186 closed

[2019-03-06 02:20] BexDunn commented on #124
Need to: include tests to do multiple timesteps or timesteps with no timestamp
test for multiple dtypes and force if necessary (geotiff doesn't support multiple dtypes)

[2019-03-06 04:32] BexDunn opened #280 "add options to unpack additional arguments to loadclear functions"
Make it possible to add extra dc.load capabilities to loadclear functions
-resampling, resampling dictionary
-limit

[2019-05-03 03:21] BexDunn opened #283 "loadclear landsat breaks for queries with no time specified"
print(f'No data returned for query for any sensor in {", ".join(sensors)} '
              f'and time range {"-".join(query["time"])}')

when running for all time (i.e. no time specified)
raises error
![image](https://user-images.githubusercontent.com/20038594/57118385-6485cd80-6da6-11e9-8239-0b0f1dfc6c55.png)

[2019-05-20 05:09] Kirill888 opened #284 "Update notebooks for datacube 1.7"
Some "internal" methods have moved around in datacube-core, starting with 1.7 `datacube.storage.storage` is no more.

Main change is to replace

[code]

But there might be more, probably masking related. About dozen notebooks import `write_dataset_to_netdcf`:

[code]

related to #270.

[2019-05-27 22:21] #230 closed

[2019-05-30 05:40] BexDunn commented on #284
Hey kirrill - what changes happened to masking?

[2019-05-30 05:56] BexDunn opened #288 "create load_wofs function"
create a load wofs function in DEADatahandling

[2019-05-30 05:58] BexDunn opened #289 "Review getting started notebooks"
Getting started notebooks could maybe do with a review? They're a bit hard to follow/ maybe not super basic?

[2019-05-30 05:59] BexDunn opened #290 "Review geotiff and netcdf writing codes"
Check the writenetcdf and write geotiff functions and make sure functionality is preserved in all versions, and that the wrapper in DEADataHandling is adding functionality to the one in the rest of the datacube.

[2019-05-31 01:11] Kirill888 commented on #284
@BexDunn I have removed a bunch of masking import from `datacube.api.*` but it looks like no one was importing them from there anyway.

https://github.com/opendatacube/datacube-core/commit/3a87d31ce2650aaeb7f3263dce087d00d3c0864c

[2019-05-31 03:58] BexDunn opened #292 "BandIndices.py not returning Dataset"
BandIndices.py loses dimensions and attributes, which makes the results harder to output,. Upgrade the code to output dimensions and attributes to make it easier to use.

[2019-06-28 07:14] Kirill888 opened #295 "Add link to "Data Access" subsection from Getting Started page"
Getting Started notebook should mention project membership issues and link to this url:

http://geoscienceaustralia.github.io/digitalearthau/connect/account.html#data-access

Some users might skip reading NCI Account registration section, they might already have account, or whatever other reason. Worth re-iterating that load might fail due to permission problems.

[2019-07-04 01:25] BexDunn opened #307 "capitalization and index.rst"
@cbur24 - can you please update the notebook file name parallel_segmentation.ipynb to match the sentence case convention  Parallel_Image_Segmentation.ipynb ? and also add it to the index.rst file in 09_Workflows? It's a lovely notebook!

[2019-07-04 01:26] BexDunn commented on #198
I noticed there are still images in 09_Workflows that we should move over.

[2019-07-04 01:55] cbur24 commented on #307
Two pull requests made:
- notebook now matches the naming convention
- readme has been updated.

[2019-07-04 01:55] #307 closed

[2019-07-05 05:04] cbur24 opened #310 "animated_timeseries function can't handle NaNs"
The animated_timeseriesline and animate_timeseries functions is DEAPlotting fail if an image contains NaNs.

/g/data/v10/public/modules/dea-env/20190329/lib/python3.6/site-packages/skimage/exposure/exposure.py:351: RuntimeWarning: invalid value encountered in true_divide
  image = (image - imin) / float(imax - imin)

[2019-07-09 05:23] jotobin opened #313 "Snow Monitoring Using Landsat - minor change"
notebook name: Snow Monitoring Using Landsat
under ‘Threshold NDSI and NDVI to identify snowy, non-vegetated pixels’  (18)
Line:
snow_ds = noveg_ds & noveg_ds
should be:
snow_ds = noveg_ds & snow_ds

[2019-07-23 00:06] BexDunn opened #315 "TCI notebook requires shapefile in r78"

[2019-07-23 00:06] BexDunn commented on #315
Need to update TCI calculation notebook to remove reference to r78

[2019-07-23 02:27] BexDunn commented on #315
fixed

[2019-07-23 02:27] #315 closed

[2019-08-14 06:36] robbibt opened #327 "Add overlay of tide range to be selected over tide height plot in Coastal_Erosion.ipynb"
Suggestion that it would be good to see the range of the tide selected for analysis over the plot of all tide heights that the user creates halfway down the notebook. This would allow the user to better customise the portion of the tide range they are selecting.

https://github.com/GeoscienceAustralia/dea-notebooks/blob/master/DEA_sandbox/Case_Studies/Coastal_Erosion.ipynb

[2019-08-29 05:18] #327 closed

[2019-08-29 05:19] robbibt commented on #327
Fixed in #334

[2019-09-02 00:59] robbibt opened #342 "Investigate style guide/linters for DEA-notebooks"
Have been looking into PEP8 linters for Jupyterlab:
- The one we discussed in the last meeting (flake8) is no longer being developed and doesn't work on Jupyterlab v1+
- I've found an extension called jupyterlab_code_formatter (https://github.com/ryantam626/jupyterlab_code_formatter), which supports autopep8, as well as some other highly recommended PEP8-compliant code styles
- It works by actuall

[2019-09-03 07:16] Kirill888 opened #343 "Supporting both lab and notebook"
Most notebooks use `%matplotlib inline`, but some use `%pylab notebook`. Latter only works inside `notebook` but not in `lab`, in `lab` one needs to use `%pylab widget` to get similar effect.

Not sure if notebooks with `%pylab notebook` **need** to have interactive graphs or this just a nice to have.

Also note that `%pylab` magic is kinda deprecated in favor of `%matplotlib` (`%pylab` imports so

[2019-09-04 23:13] robbibt opened #344 "Incompatibilities between NCI and DEA Sandbox environments"
Issue to record any inconsistencies we find between the NCI and DEA Sandbox environments, including:
- Any modules/python packages not installed on both environments
- Any missing Jupyter lab extensions
- Any key datasets not indexed on both environments
- etc

[2019-09-04 23:20] cbur24 commented on #344
- The python module `scikit-learn` is not installed on the DEA Sandbox

- `datacube_stats` is not installed on the DEA Sandbox (work is currently being done to make it compatible, a local install will work for some stats)

[2019-09-04 23:25] robbibt commented on #344
- [x] I've now thoroughly tested the `OTPS` tidal model on the Sandbox, and it looks like everything is working well

[2019-09-05 03:54] robbibt opened #346 "Update Jupyter Labs to be DEA's default launcher for notebooks on the NCI"
On the NCI, DEA currently recommends users run a shell script that creates a desktop icon which uses `jupyter notebook` to launch notebooks on the NCI (set up here: /g/data/v10/public/digitalearthau)

For compatibility with the DEA Sandbox and to reduce the documentation that needs to be written, we should switch the default launcher to `jupyter lab` instead.

Leaving this as an open issue for now

[2019-09-05 03:55] robbibt commented on #346
@caitlinadams: I think you can safely write `dea-docs` documentation to focus just on `JupyterLab`, and we'll change it over to the default as soon as the refresh has progressed

[2019-09-05 04:05] robbibt opened #347 "Re-write DEA notebooks readme to address refresh changes and DEA Sandbox"
The current readme for `dea-notebooks` assumes that all uses will be accessing/modifying the data on the NCI, rather than the DEA Sandbox. As part of the refresh, we should update the readme to account for these changes.

Potentially, some of the current content in the readme could be cleaned up and reorganised using Github's "Wiki": https://github.com/GeoscienceAustralia/dea-notebooks/wiki

[2019-09-05 04:12] robbibt commented on #342
Resolved to keep PEP8 as the required style, with applying an auto formatter as an optional step

[2019-09-05 04:12] #342 closed

[2019-09-05 23:57] robbibt commented on #344
- [ ] Sentinel 2 Near-Real-Time data isn't currently available on the NCI

[2019-09-19 07:24] robbibt opened #360 "Make masked dtype configurable for `load_ard`"
Add the ability to customise the dtype of the output data from `load_ard` when masking cloud/invalid data to provide more flexibility for advance users

[2019-09-20 05:57] robbibt opened #361 "Add `Frequently_used_code` notebooks for loading in external netCDFs and geotiffs to xarray"
We recently had a visitor to DEA who wanted to use existing DEA functions on non-DEA data. However, we currently have no examples of how to load external netCDFs or geotiffs into xarray datasets that are similar to what we get back using `dc.load`.

We should make it a priority to create some frequently used notebooks that:

1. Load multiple geotiffs into a single xarray dataset
2. Load multiple n

[2019-09-23 01:02] BexDunn commented on #344
module `digitalearthau` is not available on the DEA Sandbox. This module has the wofs fusing function in it

[2019-09-23 01:45] robbibt commented on #344
- [ ] `wofs_albers` currently needs the user to specify `output_crs` and `resolution`, which isn't necessary on the NCI (see https://github.com/GeoscienceAustralia/dea-config/issues/405)

[2019-09-24 07:32] robbibt commented on #344
[ ] There is no DEM available on the sandbox (on the NCI, we have the 30 m SRTM DEM e.g. `dc.load(product='srtm_dem1sv1_0', **query)`)

[2019-09-25 03:45] uchchwhash commented on #344
If there's no security concerns that prevent us from doing so, having `ssh` would be nice on the sandbox.

[2019-09-25 04:30] cbur24 opened #374 "dea_datahandling/load_ard is not preserving attributes"
The data-arrays inside the returned xarray dataset from `load_ard` do not retain the crs/geobox attributes.

reproducible example (run on the sandbox):

[code]

[2019-09-25 05:37] Kirill888 commented on #344
@uchchwhash one can always download whatever binary and run it, so...

[2019-09-25 06:03] BexDunn opened #375 "dea_bandindices can't calculate multiple indices or drop input bands"
dea_bandindices can't calculate multiple indices or drop input bands

use case: tsmask requires multiple indexes as an input. Old BandIndices.py allowed dropping original bands. we can add ds.vars to a list before calculating indices, then drop the input vars as an option.

We can also check for a list of indices as an input rather than just a single input, then calculate the indices in a loop. Th

[2019-09-26 01:15] CEKrause commented on #344
The sandbox is missing `descartes`, which is required to plot shapefiles using geopandas.

[2019-09-26 01:19] prl900 opened #377 "load_clearlandsat() function under 10_Scripts is broken"
This [line](https://github.com/GeoscienceAustralia/dea-notebooks/blob/657de085b2dc638d724ab04fc1349753452a731e/10_Scripts/DEADataHandling.py#L496) uses an undefined variable.

Seems to be fixable just by replacing the `combined_ds` variable name with `sensor_ds`.

Happy to submit a PR if that's accepted.

[2019-09-26 01:21] BexDunn commented on #377
totally accepted! if you pop a PR in, I'll take a look :)

[2019-09-26 01:23] BexDunn commented on #377
@prl900 I've sent you a link to give you repo access

[2019-09-26 02:08] BexDunn commented on #377
fixed

[2019-09-26 02:08] #377 closed

[2019-09-26 07:34] richardt94 opened #380 "Add ML notebook to demo dea_classificationtools"
Seems like it would be a good idea to write a notebook as part of the refresh to demonstrate the functions in the dea_classificationtools module, otherwise users may not be aware that the ML functionality exists.

[2019-09-26 23:04] robbibt commented on #380
Yep, definitely agree: it'd be great if we had an demo notebook for each function we add to `Scripts` so people have a starting point to using the functions.

Feel free to make a `Frequently_used_code` notebook for each different ML functionality you add - I think several smaller/discrete notebooks will be easier to use than fewer long/complex notebooks.

[2019-09-27 02:17] robbibt commented on #374
Suspect that this is being caused by a bug in xarray. Have created an issue here, will see what they come back with: https://github.com/pydata/xarray/issues/3348

[2019-09-30 03:48] cbur24 commented on #344
The remote sensing package `rsgislib` cannot be installed on the Sandbox as it requires a conda installation. https://www.rsgislib.org/download.html

[2019-09-30 03:54] cbur24 commented on #344
The version of GDAL on the Sandbox does not appear to have the .kea driver. https://gdal.org/drivers/raster/kea.html

[2019-10-02 02:48] cbur24 opened #393 "dea_plotting.rgb cannot handle xarrays with no time dimension"
If an xarray.dataset has no time dimension, the rgb plotting function fails.

Reproducible example:

[code]

Suggest something like:

[code]

[2019-10-02 04:02] #393 closed

[2019-10-03 06:29] #374 closed

[2019-10-04 06:35] #375 closed

[2019-10-04 06:40] BexDunn commented on #292
BandIndices.py has been superseded by dea_bandindices.py

[2019-10-04 06:40] #292 closed

[2019-10-08 00:44] robbibt commented on #344
- [ ] The `seaborn` module for producing scientific plots is currently missing from the Sandbox (e.g. `import seaborn as sns`)

[2019-10-08 01:51] robbibt commented on #344
- [ ] `ffmpeg` is missing from the Sandbox. This is needed for generating animations based on satellite data

Issue: https://github.com/GeoscienceAustralia/dea-sandbox/issues/23

[2019-10-08 02:15] robbibt opened #404 "Add option to return list of valid indices to `calculate_indices`"
Currently users need to read up the documentation of the `calculate_indices` function to get a list of the remote sensing indices that are available.

It would be good to have some way of programatically obtaining a list of these indices.

[2019-10-10 03:08] robbibt commented on #344
- [ ] Virtual products functionality requires a version of `datacube-core` > 1.7. This is currently not the case on the sandbox

[2019-10-15 06:44] BexDunn opened #416 "GeoTiff writer used in 08_Outputting_data/Sentinel2Scenes2GeoTIFF needs updating"
old `dataset_to_geotiff` function was broken by new version of gdal (I think) and no longer writes functional geotiff files. @Hani our collaborator can't use it at the moment. We need to replace the function in this notebook with spatialtools functions so that our collaborator can use them. @robbibt @CEKrause

replace `dataset_to_geotiff`  with `array_to_geotiff`

[2019-10-17 06:31] #416 closed

[2019-10-18 00:43] uchchwhash commented on #344
Happy to report that the incompatibilities are now less in number:

1. `datacube-core` has been updated to virtual products' liking
2. `ffmpeg` seems to work
3. `seaborn`, `scikit-learn`, `datacube-stats` should be there
4. I may have been `descartes`, apologies
5. the `.kea` and `rsgislib` story is more complicated, sorry @cbur24 !

[2019-10-18 02:44] uchchwhash commented on #344
Update!

1. `descartes` should now also be available

Please restart your servers in the sandbox if you need this.

[2019-10-31 23:05] #404 closed

[2019-10-31 23:05] robbibt commented on #404
Going to close this for now, I think as long as we keep the documentation of the function up to date it should give users the info they need

[2019-11-05 22:30] robbibt commented on #344
* `%load_ext line_profiler` is not installed on the DEA Sandbox. This is really useful for trouble-shooting code, and it would be great to have it available.

[2019-11-06 01:51] robbibt opened #433 "Clean up confusing dask API in load_ard"
Currently, `load_ard` uses `dask_chunks={'time': 1}` to force data to lazy load before scenes are filtered out based on the proportion of valid/non cloudy data in each timestep. To override this, users can set the function's `dask_chunks` parameter. However, if a custom `dask_chunks` is also passed in via a query, this has no effect on the analysis.

Additionally, even if custom `dask_chunks` is p

[2019-12-06 01:18] robbibt commented on #361
Closed by #446

[2019-12-06 01:19] #361 closed

[2019-12-06 02:08] robbibt commented on #347
Closed by #450

[2019-12-06 02:08] #347 closed

[2019-12-06 03:51] robbibt commented on #343
All notebooks in `develop` have been updated for use in Jupyter Lab (e.g. removed `%pylab notebook` in favour of `%matplotlib inline`)

[2019-12-06 03:51] #343 closed

[2019-12-06 03:52] robbibt commented on #284
All notebooks on `develop` now work on datacube 1.7+

[2019-12-06 03:52] #284 closed

[2019-12-06 03:53] robbibt commented on #265
This has been fixed for all notebooks on `develop`

[2019-12-06 03:53] #265 closed

[2019-12-06 03:53] robbibt commented on #110
Covered by `beginners_guide` notebooks on `develop`

[2019-12-06 03:53] #110 closed

[2020-01-08 05:05] s-m-t-c opened #460 "Modify dea_classification tools to handle training data extraction for multiple products"
- The `get_training_data_for_shp` function from `dea_classificationtools.py` currently extracts remote sensing data for a specified product for each shapefile feature that contains a class label.
- Multiple products are helpful for effective land cover classification.
- Current workflows run the function multiple times and concatenate the results into a single array.
- It would be easier for users

[2020-01-09 05:21] robbibt opened #468 "Add speckle filtering to shipping lane identification notebook"
Adding speckle filtering greatly enhances the appearance of the shipping lane notebook outputs:

![image](https://user-images.githubusercontent.com/17680388/72040212-f5308800-32fb-11ea-9927-90ca51fe2a20.png)

The current example runs slowly however. If we can find a way to increase performance it would be a great addition to the notebook.

[2020-01-09 23:00] robbibt commented on #344
* [ ] Radar products such as `s1_gamma0_geotif_scene` are not currently available on the NCI datacube

[2020-01-09 23:54] robbibt opened #469 "Geomedian notebook currently broken due to missing dependency"
The `Geomedian_composites.ipynb` notebook currently fails with the following error:

[code]

This needs to be updated once either `hdmedians` or `hdstats`/`odc.algo` are added to the Sandbox

[2020-01-10 00:50] robbibt commented on #469
See https://github.com/opendatacube/jupyterhub/pull/29

[2020-01-13 22:08] #56 closed

[2020-01-13 22:08] #121 closed

[2020-01-13 22:08] #124 closed

[2020-01-13 22:08] #152 closed

[2020-01-13 22:08] #162 closed

[2020-01-13 22:08] #163 closed

[2020-01-13 22:08] #167 closed

[2020-01-13 22:09] #168 closed

[2020-01-13 22:09] #198 closed

[2020-01-13 22:09] #211 closed

[2020-01-13 22:09] #218 closed

[2020-01-13 22:09] #244 closed

[2020-01-13 22:09] #245 closed

[2020-01-13 22:09] #258 closed

[2020-01-13 22:09] #263 closed

[2020-01-13 22:09] #267 closed

[2020-01-13 22:09] #280 closed

[2020-01-13 22:09] #283 closed

[2020-01-13 22:09] #288 closed

[2020-01-13 22:09] #289 closed

[2020-01-13 22:09] #290 closed

[2020-01-13 22:09] #295 closed

[2020-01-13 22:09] #310 closed

[2020-01-13 22:09] #313 closed

[2020-01-13 23:08] robbibt opened #477 "Allow map_shapefile to plot colours based on attribute"
Currently, the `map_shapefile` function (https://github.com/GeoscienceAustralia/dea-notebooks/blob/master/Scripts/dea_plotting.py#L330) plots each feature in a shapefile with an incrementing colour.

It would be far more useful if this function plotted features based on values from a field in the shapefile attribute table.

[2020-01-16 01:00] s-m-t-c commented on #477
The next steps are to develop some logic regarding the treatment of categorical and continuous variables and use some of the ideas from this leaflet [example](https://leafletjs.com/examples/choropleth/). This will be inserted near line 392 as an option enabled when a string containing the attribute column name we wish to colour the features by is passed into the function.

Need to spend some more

[2020-01-16 01:07] s-m-t-c commented on #380
Pull request here: https://github.com/GeoscienceAustralia/dea-notebooks/pull/462

[2020-01-16 02:19] robbibt commented on #477
@s-m-t-c The above sounds great to me. For the simplest continuous numbers case, I imagine we want to generate a unique, linearly spaced colour stretched between the lowest and the highest values? So, kind of linearly sampling a colour map based on the values in the attribute table? More complex binning (e.g. assigning a specific colour to appear at a specific value) is probably possible but a fai

[2020-01-16 03:08] robbibt commented on #477
@s-m-t-c Categorical mightn't be that hard to implement: if there's e.g. 4 classes/unique values in the attribute column, simply sample the cmap four times, evenly spaced?

[2020-01-23 02:23] cbur24 opened #485 "Add nbar(t) contiguity masking to load_ard"
When loading GA Landsat Collection 3 data, the current iteration of `dea_datahandling.load_ard ` masks invalid pixels using only `fmask`.  Including masking by the `oa_nbar(t)_contiguity` band would further reduce the number of noisy pixels included in the returned dataset.  Agnostic about whether this should be by default or added as an optional flag.

[2020-01-23 22:20] robbibt commented on #346
JupyterLab is now the default launcher on the NCI

[2020-01-23 22:20] #346 closed

[2020-01-24 04:59] robbibt opened #486 "FutureWarning: '+init=<authority>:<code>' syntax is deprecated"
Notebooks using the `display_map` and `map_shapefile` functions (that I'm aware of at the moment, there could be more) are currently producting the following warnings:

![image](https://user-images.githubusercontent.com/17680388/73045286-5e4df900-3ec1-11ea-9034-dff6e9b411d2.png)

While this doesn't break anything, we should revise those functions to try and address this warning.

[2020-01-28 00:43] robbibt commented on #485
Fixed by #487

[2020-01-28 00:43] #485 closed

[2020-01-28 00:43] robbibt commented on #433
Fixed by #487

[2020-01-28 00:43] #433 closed

[2020-01-28 00:43] robbibt commented on #360
Fixed by #487

[2020-01-28 00:43] #360 closed

[2020-01-29 01:09] s-m-t-c commented on #460
- The geomedian option for feature stats doesn't work
- Calc_indices needs some more robustness (rules and exceptions) incorporated as it breaks in several situations and is hard to debug.

[2020-01-29 04:14] robbibt commented on #380
@s-m-t-c  Can this be closed now?

[2020-01-29 06:21] #380 closed

[2020-01-30 01:23] robbibt opened #494 "Turn vectorising and rasterising code into functions"
At the moment we demonstrate how to vectorise and rasterise in this notebook: https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Frequently_used_code/Rasterize_vectorize.ipynb

However, a lot of that functionality could probably be rolled into some simple functions, which would probably be pretty useful given that these two workflows are used over and over again in different analyse

[2020-01-30 06:30] cbur24 commented on #494
I started writing one of these the other day for turning xarray object into polygons.  Still pretty basic in that it doesn't have any error catching, but could form the skeleton of a more robust function:

[code]

[2020-01-30 06:49] robbibt commented on #494
@cbur24 Wow, that's fantastic! That looks pretty much exactly what I was thinking of. Some extra things that would be nice:

1) Getting the transform and CRS directly from the xarray object; I have some code in `subpixel_contours` that can probably be adapted
2) Maybe moving some of the `rasterio.features.shapes` params into a kwarg so that users can pass in any custom parameters they want

And th

[2020-02-02 23:09] s-m-t-c commented on #477
@gabzgit for your reference

[2020-02-03 03:36] robbibt opened #496 "load_ard fails when no measurements are specified"
When `load_ard` is run without specifying measurements, the function returns an error. This is new since the recent update that added contiguity masking.

**Reproducible example** via @lauragow:

[code]

**Error:**

[code]

[2020-02-03 03:50] robbibt opened #497 "Add functions for assessing tidal bias in remote sensing imagery"
A common workflow in coastal remote sensing analyses is to tag Landsat or Sentinel-2 imagery with a tidal height from the OTPS tidal model. However, these satellites only view a small, often biased portion of the true tidal range, e.g.:

![image](https://user-images.githubusercontent.com/17680388/73624272-5433b380-4694-11ea-9108-6298796ace07.png)

It would be very useful to have a simple set of fu

[2020-02-06 01:28] robbibt opened #501 "Chlorophyll notebook fails in example below"
[code]

[2020-02-06 23:31] #494 closed

[2020-02-10 22:55] #496 closed

[2020-02-11 00:51] #477 closed

[2020-02-11 02:14] robbibt opened #507 "Implement automated notebook testing"
As this repository continues to grow, a larger and larger amount of time is going to be spent re-running notebooks and verifying that all our functionality still works after every change to the DEA environments and our scripts/functions.

This seems like a natural fit for some kind of automated testing, e.g. to automatically re-run all notebooks after changes are pushed to `develop` to verify that

[2020-02-11 02:15] robbibt commented on #507
Even a manual script we could run (on Sandbox/NCI) to re-run every notebook in the repo and report passes/fails before we merge `develop` > `master` would be better than what we currently have

[2020-02-11 02:17] Kirill888 commented on #507
Ideal solution, I think, is to have a minimal subset database that we automatically compute and keep up to date by running against real database in some instrumented way that simply records all the datasets that notebooks under test accesses and then recreates database with just those datasets and products and metadata. Then we can use something like github actions to run tests against this. Note

[2020-02-11 02:22] robbibt commented on #507
Tagging @omad @uchchwhash @caitlinadams @alexgleith @emmaai in case any of you have any thoughts - this is probably a medium/long term goal, but it's the kind of thing that could help a lot for reducing the amount of manual notebook re-running and code checking we currently need to do every time a function is altered or a new module version updated

[2020-02-11 02:37] BexDunn commented on #507
heavily support ++++

[2020-02-11 02:38] cbur24 commented on #507
This collection of notebooks and scripts is a vital piece of infrastructure for ourselves and our external stakeholders, and I fully support any measure to reduce the workload on maintaining the repo.  I personally don't know anything about automated testing, but I'm happy to be allocated any tasks if/when this method materializes (I will also implement any solution on the de-africa repo).

[2020-02-11 03:39] benjimin commented on #507
For typical automated tests, you specify the pass/fail test very clearly. What do you expect in the case of a notebook?

[2020-02-11 03:40] caitlinadams commented on #507
I think it's also worth exploring whether the scripts should be converted to an installable python package/module (possibly through pip). This would likely help with maintenance, make importing them simpler, and mean that the useful tools could be incorporated easily into other DEA/ODC deployments.

[2020-02-11 03:44] robbibt commented on #507
@benjimin For this, I think simple is probably best, e.g. perhaps even whether a notebook returned an error at any point in its run. The biggest problem we have is that changes to the environment/scripts cause notebooks to break, which then lies dormant until a stakeholder tries it themselves and gets errors, which isn't a great look.

If we could even get a simple list of passed/failed notebooks,

[2020-02-11 04:00] Kirill888 commented on #507
@robbibt I think one can start with "manually generate success/failure report" with a single script launch after manually logging into sandbox/NCI.

[2020-02-11 04:07] benjimin commented on #507
`py.test --nbval-lax` ?
Set up Travis to report if any notebooks are emitting error messages?

[2020-02-11 04:18] Kirill888 commented on #507
@benjimin they all will report errors on travis, because database

[2020-02-11 04:23] benjimin commented on #507
Well, @robbibt could run:
[code]
?

[2020-02-11 06:57] robbibt commented on #507
@benjimin That's very promising: it works well and gives a good summary of the issues:

![image](https://user-images.githubusercontent.com/17680388/74216226-ce4ce380-4cf7-11ea-8171-281f2adc5c7d.png)

We'd probably need to use that list in the context of what notebooks are meant to be compatible with either the NCI or Sandbox, but it's a great start.

[2020-02-11 07:05] robbibt commented on #469
This seems to be resolved as of 11 Feb!

[2020-02-11 07:05] #469 closed

[2020-02-11 22:47] Kirill888 commented on #507
@robbibt regarding failures:
- `Opening_GeoTIFFs_NetCDFs.ipynb`  failure are due to env being bad see here:
    https://github.com/opendatacube/jupyterhub/issues/37
    runs fine with work-around (downgraded netcdf lib)
- `Exporting_NetCDFs.ipynb` is also due to bad env setup, but also might fail if output file was not cleaned up from previous partial runs as I think `write` function will fail if

[2020-02-11 23:02] alexgleith commented on #507
DB access could be done by indexing ONLY the datasets that are required into a Postgres image, either fixed or ... routinely indexed. Perhaps that's a good excuse to write a nice indexing Docker image? It can be tested by indexing the data required by ☝️. Not sure how to get that to result in an actual postgres DB image, but it's plausible.

We can test against S3 data easy enough, so long as we s

[2020-02-11 23:04] robbibt commented on #507
@Kirill888 Yep, some of those fails are to be expected as not all notebooks are written to be compatible with the Sandbox or NCI (e.g. `Image_segmentation.ipynb`)... the errors with the two NetCDF notebooks though are exactly the kind of thing that would be great to be able to automatically catch.

For processing time, a lot of the notebooks have recently become slower with data now coming from TH

[2020-02-13 02:00] Kirill888 commented on #507
@alexgleith Using this image:

`opendatacube/sandbox`
https://hub.docker.com/layers/opendatacube/sandbox/latest/images/sha256-a14601514daf26e8374ffadd4bb89ad508dd8e46e6c143082b1014b067c5d6e0?context=repo

I get errors only in the segmentation notebook which requires rsgislib which is a conda only library

[code]

[2020-02-13 02:09] alexgleith commented on #507
That's positive, @Kirill888! How do you run it? On the actual Sandbox?

[2020-02-13 02:28] robbibt commented on #507
Yep, it's looking really useful for what we're after. The full test suite would also include the following directories:

- `Beginners_guide`
- `DEA_datasets`
- `Frequently_used_code`
- `Real_world_examples`

Some of the `Real_world_examples` might need to be shortened for run time.

An interesting question I haven't investigated yet: how does this work for interactive notebooks that require user i

[2020-02-13 03:10] Kirill888 commented on #507
@alexgleith I can't get that image into actual sandbox, and dev sandbox is too different database-wise, I'm running via custom deployment in `kk` namespace

[2020-02-13 03:31] Kirill888 commented on #507
[code]

In `DEA_datasets` Seintel_2 succeeds but TSmask is taking forever so far.

[2020-02-13 03:56] robbibt commented on #507
@Kirill888 That might be because the TSmask product is being worked on (I remember @uchchwhash saying it wouldn't be accessibly for a while)

[2020-02-13 03:58] Kirill888 commented on #507
no it's not that, it's just slow, anyway it failed now. Changes were made to product definition: masking flags are now consistent with `fmask` so this notebook needs updating.

[2020-02-13 04:08] Kirill888 opened #512 "TSmask flags have changed to be consistent with fmask breaks DEA_datasets/TSmask"
`s2_tsmask` product now has flags with the same names as `fmask`

`No observation` -> `nodata`
`Clear` -> `valid`
`Cloud` -> `cloud`
`Cloud shadow` -> `shadow`

[2020-02-13 04:09] robbibt commented on #512
That's actually a really nice change, should make things easier in the future

[2020-02-13 05:09] cbur24 commented on #512
With this change, will the following still produce a cloud free mask?

`from datacube.storage.masking import make_mask`
`cloud_free_mask = make_mask(tsmask_ds.classification, classification='valid')`

[2020-02-13 05:18] cbur24 opened #513 "Create `xr_geomedian` notebook for `frequently_used_code` folder"
@Kirill888 's `xr_geomedian` [notebook](https://github.com/opendatacube/odc-tools/blob/master/notebooks/geomedian-example.ipynb) would make a nice addition to the `frequently_used_code` folder of dea-notebooks.  The current [Geomedian_composites](https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Frequently_used_code/Geomedian_composites.ipynb) notebook is very computationally expen

[2020-02-13 22:46] robbibt opened #514 "NetCDF notebooks currently fail on DEA Sandbox"
The following two notebooks currently fail with an error:

- `Opening_GeoTIFFs_NetCDFs.ipynb`
- `Exporting_NetCDFs.ipynb`

`OSError: [Errno -101] NetCDF: HDF error: b’/home/jovyan/Supplementary_data/Opening_GeoTIFFs_NetCDFs/netcdf_2018-01-03.nc’`

This is related to the issue https://github.com/opendatacube/jupyterhub/issues/37. It should be fixed soon with a new DEA Sandbox image; for now it can

[2020-02-13 22:54] #497 closed

[2020-02-16 01:49] benjimin commented on #507
I feel like a reduced database index could be impractical because one purpose of the notebooks is to demonstrate diverse insights that utilise different specific slices of the data archive. (I also think it would be easier to monkey patch in a mock `Datacube.load` to always return say a dozen layers thick of `numpy.random`. Still, not hard to imagine notebooks where dummy data would trip them into

[2020-02-17 01:33] Kirill888 commented on #507
[code]

With `rgsislib` installed in this docker:

`https://hub.docker.com/layers/opendatacube/sandbox/latest/images/sha256-da54e19602bb635abfa6671353d64a1d0ce0f008a00fd54daae3c39cbb141c71?context=repo`

Required a small patch to `Image_segmentation.ipynb`, see #518.

[2020-02-17 02:07] cbur24 opened #519 "Add `TSMask` as an option to `load_ard`"
Currently `load_ard` uses the embedded `fmask` cloud masking bands within the S2 and Landsat products to return a cloud-masked dataset. Now that `TSMask` is operational, it would be convenient if `load_ard` had a parameter like `cloud_mask='TSmask'`, to allow S2 data to be automatically masked using `TSMask`.

[2020-02-17 03:32] robbibt opened #520 "Restore Dask cloud filtering functionality to `load_ard`"
The `load_ard` function is based on `load_clearlandsat`. That function was originally created with a key advantage in mind: to optimise data loading by:

1. Lazy loading the entire dataset using `Dask`
2. Load only the cloud masking/PQ band into memory to calculate % non-cloudy pixels (`min_gooddata`)
3. Use `min_gooddata` %s to only load the satellite observations with adequate data available.

T

[2020-02-17 05:49] Kirill888 opened #522 "`transform_geojson_wgs_to_epsg` does not work with GDAL3"
This function doesn't work with GDAL3

https://github.com/GeoscienceAustralia/dea-notebooks/blob/8d734cd9dc9b4460f54e4a69cf967b081e2628d9/Scripts/dea_spatialtools.py#L691

There was a change in coordinate order for geographic projections.

This should be changed to use `datacube.utils.geom` tools, which do work with GDAL3.

also what's up with this:

https://github.com/GeoscienceAustralia/dea-note

[2020-02-18 02:21] robbibt opened #524 "Errors when importing `rsgislib.segmentation` on NCI"
We're getting the following error when trying to load rsgislib on the NCI (for both `module load dea/20191127` and `module load dea` .

This package is used in the `Image_segmentation.ipynb` notebook, which worked correctly in December 2019 but now breaks when run on the VDI.

[code]

This worked as of

[2020-02-19 00:02] #522 closed

[2020-02-19 03:34] Kirill888 opened #526 "Make `load_ard` with multi-products more "dask friendly""
`load_ard` function defined here:

https://github.com/GeoscienceAustralia/dea-notebooks/blob/4891b9167966ede8dca697b8c4d79acb493071d9/Scripts/dea_datahandling.py#L50-L60

supports loading several "structurally similar" products as if it was one product. Current approach is to perform `dc.load` for every product separately then stack results along the time dimension. This approach, while logical an

[2020-02-19 03:51] robbibt commented on #526
As discussed, I think this makes a lot of sense and it'd be great to have `load_ard` work well for complex dask workflows.

Here's a working proof-of-concept using the dataset loading method which seems to work, and keeps intact the three main features of `load_ard`:

* Combining multiple products (e.g. ` ['ga_ls5t_ard_3', 'ga_ls7e_ard_3', 'ga_ls8c_ard_3']`)
* Masks data by pixel quality etc
* Fil

[2020-02-19 03:55] robbibt commented on #526
@Kirill888 Thoughts on peak-memory/dask friendly ways to mask by invalid data and contiguity? The current approaches are below, using a combination of `mask_invalid_data` and `.where()`:

https://github.com/GeoscienceAustralia/dea-notebooks/blob/4891b9167966ede8dca697b8c4d79acb493071d9/Scripts/dea_datahandling.py#L319-L328

And:

https://github.com/GeoscienceAustralia/dea-notebooks/blob/4891b91679

[2020-02-19 04:35] whatnick commented on #507
From an infrastructure perspective. It is difficult to reproduce the sandbox single-user containers in a 3rd-party CI with injected environment variables and DB access includes. However we can move the code the environment and run a daily kubernetes cron job to checkout notebooks and run `jupyter nbconvert --to notebook --execute sample_notebook.ipynb` on them within the cluster. This will take a

[2020-02-19 05:00] Kirill888 commented on #526
If there are several masks to be applied it is usually better to first combine those via boolean `*` and then use `odc.algo.keep_good_only` using final mask.  `good_pixels = good1 * good2 * good3`.

Instead of using `datacube.storage.masking.mask_invalid_data` use `odc.algo.to_f32` which I believe does the same thing, but is more "dask aware".

[2020-02-19 22:26] robbibt commented on #526
Is there an equivalent of `odc.algo.to_f32` that converts to `float16` instead? The last update to `load_ard` introduced a `mask_dtype` param to control the dtype used when setting NaNs, and it's already been useful for at least one application I can think of. I guess solving the peak memory issues might make this less of an issue?

[2020-02-19 23:08] robbibt commented on #526
A nice side-effect of loading with datasets rather than products: we can easily pass in a custom function to filter our datasets prior to load:

[code]

[code]

[2020-02-19 23:15] Kirill888 commented on #526
I should add `odc.algo.to_float(dtype=np.float32|16|64)`, not sure if `numexpr` supports `float16` though.

Re: filtering, commonly it is done with a function that takes a single item and return a single pass|fail boolean, rather than a function that takes entire collection and returns possibly smaller collection.

[2020-02-20 00:19] #520 closed

[2020-02-21 02:01] benjimin commented on #507
Another reason for testing against the real data is to notice if notebooks are broken by changes in curated data collections. Two possible alternatives that I think would be compatible with our workflows:

- Use Travis: Get a Travis public key, modify `.travis.yaml` to contain encrypted credentials (which will automatically be decrypted into environment variables) and an ssh command (to run tests

[2020-02-21 03:27] robbibt commented on #507
@whatnick @benjimin Thanks for the great suggestions - I think a regularly-run (e.g. weekly or bi-weekly) test directly in the environment itself would be a huge advance on what we currently have, especially if the reports could be posted somewhere easily accessed like Slack (email being an OK but less ideal option). I also agree that Github integration might not be required... we could just get i

[2020-02-24 01:11] robbibt opened #528 "Simplify setting up local Dask cluster on Sandbox and NCI"
@cbur24's revision of @Kirill888's Geomedian notebook (#521) has a nice opening cell that sets up a local dask cluster that accounts for the available memory and cores, and runs some Sandbox/NCI relevant extra steps (e.g. `configure_s3_access`).

This is something that's currently a major blocker to having better Dask integration throughout our workflows, and seems to be something that would be pr

[2020-02-24 01:13] robbibt commented on #528
Maybe this functionality could live within the `start_local_dask` function itself? e.g. add detection of existing clients, and a test of whether or not the function is being run on the NCI/Sandbox...

[2020-02-26 23:11] robbibt opened #530 "Automate Sandbox-specific steps of setting up local Dask cluster"
In some of our `dea-notebooks`, we run several set-up steps to start a local Dask cluster on the Sandbox which do not have to be run on the NCI (see https://github.com/GeoscienceAustralia/dea-notebooks/issues/528).

Some of these steps including `dask.config.set`, `configure_s3_access` and perhaps closing previous clients seem like they could be run behind-the-scenes in the Sandbox, removing the n

[2020-02-26 23:13] robbibt commented on #530
Whoops, wrong repo

[2020-02-26 23:13] #530 closed

[2020-02-26 23:21] GeoRach opened #531 "Allow user to also export geotiff of heatmap from Change Filmstrips notebook"
Can currently export the time composites as geotiffs, but not the resulting heatmap. The heatmap is really useful to import into other project GIS (e.g. DEA CoastLines) to understand / compare those outputs and refine method.

[2020-03-05 22:51] robbibt opened #533 "Update repository with recent DigitalEarthAfrica notebooks and code"
In the recent ODC Hackathon 2020 there were some major additions and updates to code in the DEAfrica notebooks repository (https://github.com/digitalearthafrica/deafrica-sandbox-notebooks).

We should keep a list of relevant things that were updated in DEAfrica notebooks/code so that we can port them back over to `dea-notebooks`.

@cbur24, @caitlinadams, if you get a chance can you comment with an

[2020-03-05 23:03] caitlinadams commented on #533
- We're most of the way through an introductory notebook to explain Dask: https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/pull/38
- Potentially the Sentinel-1 notebook: https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Datasets/Sentinel_1.ipynb
- Possibly the Urbanization case study I started: https://github.com/digitalearthafrica/deafrica-sandbox-notebo

[2020-03-06 00:14] #528 closed

[2020-03-09 22:09] cbur24 commented on #533
- The format/structure of the[ Landsat Collections](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/refactor_loadard/Datasets/Landsat_collections.ipynb) notebook could work well for Aus.  Would need to switch out the USGS Landsat collections C1 & C2 for the Aus variants C3 & C2.
- [Wetlands Insight Tool](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/ma

[2020-03-20 02:08] robbibt commented on #533
Another one I noticed come up in Github emails: was there a bug fix to `mostcommon_crs` to allow it to work when certain query/data load params are passed to it? @cbur24

[2020-03-23 02:16] cbur24 commented on #533
Yes, that's right @robbibt . Pretty basic, I just removed the offending params:
[code]

A better fix might be to take the query input and only select the params that `mostcommon_crs` requires (time, lat, lon)

[2020-03-30 00:14] robbibt opened #536 "`subpixel_contours` can't handle z_values provided as an array"
@CEKrause uncovered a bug where proving an array (rather than list) to `z_value` in `subpixel_contours` produces a confusing `ValueError: dimensions ('z_value',) must have the same length as the number of data dimensions, ndim=2` error.

This should be fixed so that users can provide any numerical sequence of `z_values`, or at the very least, clarified with a more helpful error message.

To reprod

[2020-04-01 03:49] s-m-t-c opened #538 "Convert Scripts folder into package"
We should convert `Scripts `into a separate package for:
* Simplified development process due to de-duplication with [deafrica-sandbox-notebooks](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks)
* Testing
* Reduces path related import issues.
* Refocusing of `Dea-notebooks` and related repos to primarily hold just notebooks.

**Todo**:
* Decide if any functions / `.py` files aren'

[2020-04-01 04:03] robbibt commented on #538
This issue will definitely overlap with and contribute to some of the issues discussed in #507, too

[2020-04-01 22:33] benjimin commented on #538
My thoughts:

- Should be an **odc-contrib** repo. It is not DEA specific (sharing with Africa is a primary motivation). It is more of an incubator, for ODC _users_ to submit things that might eventually be folded into more-stable ODC core libraries (but perhaps sharing at a still experimental stage).

- Great candidate for _continuous deployment_ so that users workflows are not unduly interrupted

[2020-04-02 01:16] CEKrause opened #539 "`subpixel_contours` error: `ValueError: buffer source array is read-only`"
Error traceback suggests an error with `contours_to_multiline` function passing something slightly funky to scikit.

[code]

Comments from @robbibt that might help with debugging
[code]

Temp work around is to make the following change to the `subpixel_contours` function:
[code]

[2020-04-02 01:18] CEKrause commented on #539
Temp fix results in new error
[code]

Stack trace
[code]

[2020-04-02 02:20] robbibt commented on #539
The second error is being caused by using `.copy` instead of `.copy()`; might need to also check the `.copy()` is placed at Line 453 rather than Line 466:

https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Scripts/dea_spatialtools.py#L453

That said, the fix below should hopefully be a nicer way to solve this issue:

[2020-04-02 02:39] #539 closed

[2020-04-03 04:21] robbibt commented on #536
Closed by #537

[2020-04-03 04:21] #536 closed

[2020-04-06 05:08] CEKrause opened #545 "Add polygon drill notebook into new master"
master-archive - 05_Temporal_analysis/PolygonDrill.ipynb

[2020-04-07 06:26] cbur24 opened #546 "Operational NDVI seasonal anomalies"
NSW DPI wishes to use the DEA satellite archive to operationally produce seasonal NDVI anomalies for their [State Seasonal Update](https://www.dpi.nsw.gov.au/climate-and-emergencies/seasonal-conditions/ssu/march-2020).  The code for doing this currently exists [here](https://github.com/GeoscienceAustralia/dea-notebooks/tree/chad/vegetation_anomalies), but requires a number of improvements to make

[2020-04-08 03:51] robbibt opened #548 "Burnt area notebook returns `'NoneType' has no attribute 'time' error"
The `Burnt_area_mapping.ipynb` notebook is currently broken, and returns this error at Cell 11:

![image](https://user-images.githubusercontent.com/17680388/78742533-a9938600-799f-11ea-8638-b63dcaaac4d3.png)

I suspect this is probably because we have moved beyond the 90 Near Real Time window, and the queries for Near Real Time data are returning empty.

We should update the notebook to more grace

[2020-04-14 04:29] CEKrause commented on #546
Re point two. Mask out any negative values as we go through the process so that they don't bias the final average number.

[2020-04-14 05:01] cbur24 commented on #546
I've changed the filepaths for fetching the mosaics to absolute paths in the `anomalies.py` script.

All the NDVI climatology mosaics are located here:
- std dev : `/g/data1a/r78/cb3058/dea-notebooks/vegetation_anomalies/results/NSW_NDVI_Climatologies_std/mosaics`
- means : `/g/data1a/r78/cb3058/dea-notebooks/vegetation_anomalies/results/NSW_NDVI_Climatologies_mean/mosaics`

The project folder wit

[2020-04-15 02:12] jwurtzel commented on #546
Need to change file output names to have 'ndvi' at the front, followed by date.  Some programs apparently do not like files to start with numeric characters.

[2020-04-16 01:22] cbur24 commented on #533
A [soil moisture notebook](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Datasets/Soil_Moisture.ipynb) has recently been added to the 'Datasets' folder in the DE Africa repo. Uses a global dataset at 10km resolution so should be useful for Australia too

[2020-04-16 06:11] cbur24 commented on #546
Something else to keep in mind: when I computed the NDVI climatologies I forgot to set `align=(15,15)` in the config yaml.  As such, the pixels in the climatologies are edge aligned rather than centre aligned. So, if/when loading Landsat C3 to calculate seasonal composites, do not set the `align` parameter in the `dc.load()`.  C2 is edge aligned so the climatolgies will align with C2.

[2020-04-17 03:16] robbibt opened #550 "Investigate (and improve?) how `xr_vectorize` deals with time series data"
While testing #549, I found that `xr_vectorize` will happily accept a multi-temporal `xarray` dataset (e.g. multiple time steps), and return a single `GeoDataFrame` in return.  The problem is I can't work out exactly how it is doing that: is it combining all layers along the time dimension, or just vectorising the first timestep?

We need to better understand how `xr_vectorize` deals with multi-te

[2020-04-21 04:31] caitlinadams commented on #533
I've added a notebook on [generating median, mean, min and max composites](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Frequently_used_code/Generating_composites.ipynb) to go along with the geomedian notebook. This largely replaces the functionality offered by the DCAL mosaic notebook.

See the [PR](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/p

[2020-04-21 07:06] andrewdhicks opened #554 "Dask dashboard link not correct on sandbox"
The code to set up the proxy link to the dask daskboard when running on the sandbox isn't getting called.
https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Scripts/dea_dask.py#L59

It looks like the environment variable `AWS_ACCESS_KEY_ID` is no longer being set on the sandbox.

Issue originally identified by @eloise-b

[2020-04-21 07:07] andrewdhicks commented on #554
Ping @cbur24

[2020-04-22 00:31] Kirill888 opened #556 "Update notebooks that use `pip install --user` instructions"
There was a change in the way Python environment is configured in Sandbox. Previously it was not possible to install new packages with user permissions, but it was possible to use `pip --user` mechanism to persistently install extra libraries or update/downgrade existing libs. With the current Sandbox, changes can be made by the user with just `pip install <some lib>` without using `--user` flag,

[2020-04-22 00:39] robbibt commented on #556
Thanks @Kirill888 for the update. My personal thought on this is that if a notebook requires custom packages to be installed, it probably belongs on a separate branch rather than in the main automatically synced notebooks (e.g. `Beginners_guide`, `DEA_datasets`, `Frequently_used_code` and `Real_world_examples`).

Ideally, we want to encourage a single, consistent environment without having to trou

[2020-04-22 01:42] Kirill888 commented on #556
Fair enough, I think SARA notebook should probably be moved somewhere else then. I use `Frequently_used_code` directory for testing new sandbox docker images at least in the interim, it's slow can only run in the deployment, and I don't like that, but we don't have better tests right now.

[2020-04-22 07:04] cbur24 commented on #554
Has anyone else had the issue @eloise-b mentioned? I can generate a local dask cluster on the sandbox without complaint.
I'm still getting the `bokeh.protocol.exceptions.ProtocolError: Subprotocol header is not 'bokeh'` when I try to use the printed hyperlink, but that's a known bug that's being worked on.

Sometimes if you generate a local cluster on more than one notebook then the 8787 port is f

[2020-04-22 07:20] eloise-b commented on #554
I'd only generated the cluster in one notebook, but manually adding the url and making it of the format suggested in the notebook worked. The url it gave me was the same format as a server (numbers and fullstops), rather than a url (if that makes sense?).
![Screen Shot 2020-04-21 at 2 48 53 pm](https://user-images.githubusercontent.com/13390614/79952233-741d8b00-84bd-11ea-9d27-bef64623916e.png)

[2020-04-23 01:04] Kirill888 commented on #554
@cbur24 I'm testing on `master` branch and it works for me in the sandbox, I do have some feedback about `create_local_dask_cluster` function though:

1. This code has no effect when moved into function, you should just delete it
https://github.com/GeoscienceAustralia/dea-notebooks/blob/f4f7d00452953e29ee35ec4efc46b2541d8334db/Scripts/dea_dask.py#L61-L65
2. Code that configures dask url only runs

[2020-04-23 01:15] cbur24 commented on #554
@Kirill888
1. That chunks of code is removed in PR #513, see the last comment in the thread
2.  So if we move it out of the if-statement it won't cause the code to fail if run on the NCI?

I'm pretty swamped for work right now so would appreciate it if someone else could make this PR if need be.  As I see it, the code, while not perfect, shouldn't be creating any issues - except in @eloise-b's cas

[2020-04-23 04:09] Kirill888 commented on #554
Agree code should work on sandbox, according to Tom every user should have `AWS_ACCESS_KEY_ID` in AU sandbox.
I'll do a PR for `dea_dask` changes.

[2020-04-24 00:35] andrewdhicks commented on #554
I don't have AWS_ACCESS_KEY_ID set either, cc @tom-butler

[2020-04-24 04:37] #554 closed

[2020-04-30 04:25] #548 closed

[2020-05-06 01:27] robbibt commented on #507
We had a meeting to discuss automated testing on the DEA Notebooks repo yesterday, and these were the outcomes:

- pytest --nbval-lax testing will be implemented as an Airflow task run daily, initially in dev environment but ideally also in public facing Sandbox
- Will notify users about failed notebooks either via email or slack
- Has potential to be expanded to NCI environment if Sandbox trial i

[2020-05-07 01:47] cbur24 commented on #533
- A notebook on downloading and anlaysing [ERA5 reanalysis climate data](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Datasets/Climate_Data_ERA5_AWS.ipynb)
- Major update to the training data function(s) in `dea_classificationtools.py`, runs in parallel now and can accept a custom function. Line 305 to 650 [here](https://github.com/digitalearthafrica/deafrica-sandbo

[2020-05-07 06:24] robbibt opened #567 "Update Analyse_multiple_polygons notebook once datacube, GeoPandas, pyproj are the same on NCI and Sandbox"
There's currently a nasty set of mixed versions on the NCI and Sandbox: the Sandbox with geopandas 0.7.0 uses pyproj CRSs, while `module load dea` however uses am earlier version of datacubr and geopandas version 0.6.3 which represents CRSs as dicts. This caused the notebook to crash on the NCI when a geopandas CRS is converted to a datacube CRS.

This was fixed for a recent notebook (https://gith

[2020-05-11 01:35] erialC-P commented on #486
This issue pops up in the DEA_datasets notebook on TSmask

[2020-05-11 06:52] CEKrause opened #570 "Add instruction for memory tracker on VDI"
Some words to get started, but they'll need editing:

When you get set up on the VDI, it's really helpful to add in the memory tracker widget, just so you can see if it's you or someone else on your node who is using all the memory.
To add it, right click on that top panel, then 'Add to panel', then 'system monitor > Add'. Then you get a little square added. Right click on the square and click 'pr

[2020-05-13 06:55] erialC-P commented on #507
Following a full review of the current dea-notebooks repo, I have flagged the following notebooks with a new 'no_testing' flag, being notebooks that I think will fail automated testing. The flagged notebooks either 1) require interactive user input to allow the notebook to proceed to finish 2) contain a pip install --user call or 3) are sandbox incompatible. The associated pull request to merge th

[2020-05-18 02:36] robbibt commented on #512
Fixed by #553

[2020-05-18 02:36] #512 closed

[2020-06-02 04:05] CEKrause opened #578 "BandIndices bug if load_ard product=True"
If you use the `load_ard` function and return a `product` variable from the query, this `product` variable causes `dea_bandindices.py` `calculate_indices` function to fail at line 352:
`index_array = index_func(ds.rename(bands_to_rename) / mult)`

The error says it can't perform the operation between a float and a string. I believe it's the `product` sensor strings that are causing the problem, bu

[2020-06-02 04:14] robbibt commented on #578
Yeah, it won't like the string variable unfortunately. The easiest workaround is probably to pull out that var, drop it, do the band indices and then add it back. Pseudo code:
[code]

The big update to `load_ard` we have in a PR no longer has the option to generate product metadata strings, so this probably won't be an issue in the future (although it might be good to have `calculate_indices` robu

[2020-06-02 04:18] CEKrause commented on #578
That is exactly how I have worked around it for now.

Why are we getting rid of the product strings in `load_ard`?

[2020-06-02 04:28] robbibt commented on #578
The new version loads data by first running `dc.find_datasets()` for each of the products, then combining the three lists of datasets into a single list of datasets:

https://github.com/GeoscienceAustralia/dea-notebooks/blob/load_ard_refactor/Scripts/dea_datahandling.py#L284-L303

It then runs `dc.load` once (instead of one per product) by passing in the list of datasets like `dc.load(datasets=dat

[2020-06-02 04:34] robbibt commented on #578
Issue with more details here: https://github.com/GeoscienceAustralia/dea-notebooks/issues/526

[2020-06-02 23:14] Kirill888 opened #579 "`skimage.measure.find_contours` expects numpy array not xr.DataArray"
This came up when testing new sandbox image, updating `skimage` caused error here:

https://github.com/GeoscienceAustralia/dea-notebooks/blob/1112e810c4f6e9908e03d7afdfaae8696ad4aef4/Scripts/dea_spatialtools.py#L406

Should be

[code]

[2020-06-02 23:25] robbibt commented on #579
Thanks Kirill, this will probably affect some of the Real world example notebooks too. I'll have a look and fix it up

[2020-06-02 23:56] robbibt opened #581 "Machine learning notebook fails on NCI"
The `Machine learning with the Open Data Cube` notebook currently fails on the NCI (on both `module load dea` and `module load dea/20200526` with the following error:

[code]

It looks like `pydotplus` does not exist on the NCI environment. We should either get this package installed into the latest `module load dea`, or update the notebook so it does not need this package.

I believe recent versi

[2020-06-03 00:04] Kirill888 opened #582 "Need to regenerate netcdfs in Supplementary Data"
There has been a slight change in the way netcdfs from datacube are generated. Basically `crs` data variable is now called `spatial_ref` and is marked as a coordinate. This allows output  of `xr.open_dataset` to be compatible with `.geobox` property from `datacube`.

Currently this notebook is failing to display loaded netcdf file

`https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop

[2020-06-03 00:53] robbibt commented on #582
@Kirill888 The intention of that notebook is to demonstrate how any NetCDF file could be loaded and analysed alongside DEA data, so I guess we don't necessarily want to regenerate "nice" compliant NetCDFs (as these won't be what other users want to use).

I think updating `rgb` to plot datasets that don't have a geobox might be better, and it looks like `datacube.utils.spatial_dims` is a easy repl

[2020-06-03 01:01] Kirill888 commented on #582
Agree that `rgb` needs fixing, and while the fix is "easy", this function is a recent addition and might not work in some outdated environments.

[2020-06-03 01:04] robbibt commented on #582
Yeah OK... do you know by any chance whether it is included in `module load dea/20200526` on the NCI?

[2020-06-03 01:07] Kirill888 commented on #582
yes, it would be included in 1.8.0+ for sure

[2020-06-03 04:12] robbibt commented on #507
I've just gone through and audited typical run times for the notebooks in preparation for the development of automated testing for `dea-notebooks`.

I originally did this on `module load dea`, but unfortunately discovered that _many_ of our notebooks fail using that module (see "Failed on `module load dea` " below).  Thankfully, most of the notebooks run correctly on `module load dea/20200526`, pr

[2020-06-03 05:13] Kirill888 commented on #581
`pydotplus` is a simple dependency, I don't remember deleting it. It was probably pulled in by something we had to disable previously or something that no longer uses it. We can probably add it in explicitly into dea env. But regardless, fewer dependencies is better.

[2020-06-04 01:33] #582 closed

[2020-06-04 01:34] #579 closed

[2020-06-04 01:36] robbibt commented on #556
All notebooks using `pip install --user` should be removed from `develop`/`master` now (except for `Scientific workflows` notebooks which are an exception)

[2020-06-04 01:36] #556 closed

[2020-06-04 01:37] robbibt commented on #524
Notebook has been updated to no longer be compatible with the NCI environment (see #583). If `rsglislib` gets fixed in the future, we can update its documentation

[2020-06-04 01:37] #524 closed

[2020-06-04 01:38] robbibt commented on #514
This is now fixed (see #583 )

[2020-06-04 01:38] #514 closed

[2020-06-05 01:06] andrewdhicks commented on #533
Added `ds.sel(method='...')` examples in `Frequently_used_code/Working with time in xarray` notebook in this [PR](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/pull/109).

[2020-06-09 02:01] s-m-t-c commented on #581
In my opinion the `graphviz` approach that `pydotplus` enables creates easier to interpret trees (colours etc) than the built-in plotting function. Would prefer to leave as is because the package is being added in https://github.com/GeoscienceAustralia/dea-orchestration/pull/174 . If there's a strong opinion otherwise I can modify the notebooks otherwise we can close this issue.

[2020-06-09 04:47] robbibt commented on #581
Nice, that sounds fine to me 👍

[2020-06-09 05:03] BexDunn opened #586 "update exporting geotiff notebook to use write_cog"
write_geotiff has been deprecated by write_cog in datacube 1.8.0 https://datacube-core.readthedocs.io/en/latest/about/whats_new.html

- update the exporting geotiff notebook
- maybe also update the script if it needs it?

[2020-06-09 05:57] caitlinadams commented on #586
Chad's initial notes on what needs to be done:

1. Use the info here: https://datacube-core.readthedocs.io/en/latest/dev/api/generate/datacube.utils.cog.write_cog.html to re-write the Exporting_GeoTIFFS.ipynb file: `from datacube.helpers import write_geotiff` function is being replaced by the datacube.utils.cog.write_cog function.  Be sure to make a note of the extra memory limitations of this fun

[2020-06-17 00:04] CEKrause opened #589 "Rename 'master' branch to something else"
Suggestions have been 'main' or 'stable'

[2020-06-17 00:04] CEKrause commented on #589
We will however need to get Core team to update both:
- The User Guide (currently built off "master")
- The automated Sandbox syncing (currently synced from "master")
Some other thins that will need to be updated:
- The DEA notebooks readme page
- The DEA notebooks wiki page

[2020-06-17 00:04] CEKrause commented on #589
https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx

[2020-06-17 00:05] robbibt commented on #589
I vote for `stable`! I think it's a more descriptive counterpart to `develop`.

[2020-06-17 00:17] BexDunn commented on #589
I like stable as well! And I think we should add a comment in the top of the readme that stable is the stable branch, + do a find+ replace in our readme and wiki

[2020-06-17 01:04] npucino opened #590 "Subpixel_contours function does not fail when z_value is not in array and no output_path is provided"
Currently, when we provide a `z_value `that is not in the array, the `subpixel_contours `function will fail raising a `ValueError `only if the `outputh_path `is provided.
This is because the error is in Fiona trying to write a geojson of an empty array.
If we do not provide the output_path parameter, thus, we do not write out a geojson, the function will not raise a `ValueError `but print a messag

[2020-06-17 01:46] robbibt commented on #590
Thanks for the issue @npucino: I think the function needs an error to be raised earlier (before the data is written to file) on if no output contours are produced. That way it will catch the problem regardless of whether users want to export a file.

I'll put in a fix today or tomorrow!

[2020-06-22 07:38] robbibt commented on #590
Hey @npucino, this is proving a tiny bit more complex than I'd originally expected: the function has a 'single z-value, multiple arrays' mode that automatically extracts of contours from every time-step in your dataset like this (i.e. without the `.isel(time=1)`):

[code]

This will automatically apply the function to every array along the "time" axis, and print out any timesteps that failed. This

[2020-06-22 23:33] #526 closed

[2020-06-23 01:26] cbur24 commented on #533
New `Frequently_used_code` notebook demonstrating a[ PCA on multispectral data ](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Frequently_used_code/Principal_component_analysis.ipynb)

[2020-06-23 06:49] #567 closed

[2020-06-23 07:43] robbibt commented on #590
@npucino I went for both option 2 and option 3, as I think this combination is the most flexible. For your application it should raise an exception by default, but you can also specify `errors='raise'` to always raise an exception if any single contour fails!

PR here, I've sent you an invite to the repo in case you want to review/accept the PR: https://github.com/GeoscienceAustralia/dea-notebooks

[2020-06-23 08:16] robbibt commented on #590
Closed by #595

[2020-06-23 08:16] #590 closed

[2020-06-23 08:20] npucino commented on #590
Thx @robbibt, adding the parameter was a good idea, so that people can choose to use the function business as usual or managing exceptions if needed. Cheers!

[2020-06-24 22:38] #486 closed

[2020-06-24 23:16] robbibt commented on #581
This no longer fails on the NCI

[2020-06-24 23:16] #581 closed

[2020-06-30 00:07] cbur24 commented on #533
Two new `Beginners_guide` notebooks:
- [Intro_to_numpy](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Beginners_guide/06_Intro_to_numpy.ipynb)
- [Intro_to_xarray](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Beginners_guide/07_Intro_to_xarray.ipynb)

[2020-07-06 10:08] Kirill888 opened #600 "Harmonize CRS handling across notebooks/utilities"
## History

The way CRS information is stored and accessed in datacube has changed over the years. Those changes were driven primarily by two factors: better interoperability with xarray/rasterio and other geospatial libraries and better "handling of various xarray operations".

Initially CRS information was stored as a datacube `CRS` class in an attribute named `crs` on each datavariable and on d

[2020-07-07 02:07] Kirill888 commented on #600
Needed changes look something like this https://github.com/GeoscienceAustralia/dea-notebooks/commit/39c0532eebf1928a4e4cebe2c34210522ffc2783, except that there are more places

[code]

[2020-07-07 04:56] Kirill888 commented on #600
Using `unstable` image on AU sandbox and [this branch](https://github.com/GeoscienceAustralia/dea-notebooks/compare/kk-crs) I have all notebooks in `Frequently_used_code` passing

[code]

[2020-07-07 04:57] Kirill888 commented on #600
We should probably combine this work with replacing calls to `write_geotiff` with `write_cog` (#586)

[2020-07-07 06:34] cbur24 commented on #600
This issue dovetails with our need to update `write_geotiff` examples to `write_cog`, as many of the instances in the repository of adding `crs` to attributes  (ie `ds['attrs'].crs = ds.crs`) occurs during the conversion of dataarrays to datasets to satisfy `write_geotiff`. I recommend updating both `write_cog` and `assign_crs` together.

[2020-07-07 08:09] Kirill888 commented on #600
`write_geotiff` should not need `crs` injection, it accesses that information via `.geobox`, and `.geobox` probably survives in those notebooks just fine. Also swapping out `write_geotiff` does not need to wait for `1.8.1`, only `1.8.0`, which is already everywhere. Only code that must use `assign_crs` is dependent on `1.8.1`.

[2020-07-08 06:48] Kirill888 commented on #600
Looks like synchronizing everything would be rather difficult, so I have pushed changes to datacube-core that take care of the current state. So we can proceed with updating sandbox images independently of this work. Still I'd rather see these fixes done earlier than later as notebooks are an essential part documentation for datacube and related libs so keeping them up to date is a priority.

[2020-07-08 23:41] BexDunn opened #601 "Add 'align' to the loading data notebook in the beginners' guide"
Explain align, (below is thanks to @Kirill888) in the loading data notebook to help with Collection 3 upgrade.

do I need align?
I want native projection pixels without 1/2 pixel offset
I'm supplying UTM zone  CRS copied from datasets objects
I'm supplying native resolution
I'm using landsat product from the new collection that places pixel centers rather than pixel edges at 0
ALL of the above mus

[2020-07-08 23:47] BexDunn opened #602 "Explain dc.load calls thoroughly in the doco"
Currently load_ard wraps dc.load. load_ard has a link to the dc.load doco here:
https://datacube-core.readthedocs.io/en/latest/dev/api/generate/datacube.Datacube.load.html
however, that documentation is good at telling you what the call is but not why you may or may not need it. I'm suggesting we add a ' How to load data from the datacube' section into the Wiki, somewhere nice and obvious, and exp

[2020-07-09 00:09] robbibt commented on #602
I think both is sensible, perhaps with priority given to [04_Loading_data.ipynb](https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Beginners_guide/04_Loading_data.ipynb) as it forms part of the official DEA docs, and is a natural fit for that kind of information. Wiki is more agile and quick though, and is a good place for dumping useful info e.g. like Kirill's regular clarificatio

[2020-07-09 00:10] robbibt commented on #602
Currently the `Loading data` notebook contains this info:

![image](https://user-images.githubusercontent.com/17680388/86982389-72b25380-c1cc-11ea-8a76-e11c2285dce2.png)

[2020-07-09 00:12] robbibt commented on #602
`align` isn't even mentioned there at the moment, whoops. I think the problem is that that notebook loads Landsat geomedian data vs Landsat Collection 3... on one hand it makes for a nice simple example, but on the other hand it doesn't demonstrate why things like `groupby` and `align` are needed.

[2020-07-14 04:54] s-m-t-c commented on #460
* Fixed using a custom function approach where products can piggyback query using `like=ds.geobox`. Example provided in docstring of `get_training_data_for_shp`
* Overall approach leans towards the user for more complex feature generation such as this instead of trying to accommodate every possible option and ending up with overly complex code.

[2020-07-14 04:54] #460 closed

[2020-07-14 22:32] jennet333 commented on #531
https://github.com/GeoscienceAustralia/dea-notebooks/issues/531#issue-571721388

[2020-07-16 06:13] Gabzgit opened #606 "Write_cog needs some demo text"
Since write_cog has replaced write_geotiff it would be handy to have some helpful text somewhere.

https://docs.dea.ga.gov.au/notebooks/Frequently_used_code/Exporting_GeoTIFFs.html seems like a good place to update, and other notebooks are now a little broken e.g. https://docs.dea.ga.gov.au/notebooks/Real_world_examples/Burnt_area_mapping.html

[2020-08-04 03:37] MatthewJA opened #615 "Update DEA_datasets folder to include more dataset notebooks"
The DEA_datasets folder currently only contains notebooks for Sentinel 2 and TSmask. The [archived dataset notebooks](https://github.com/GeoscienceAustralia/dea-notebooks/tree/master_archive/02_DEA_datasets) contain FC, HLTC, ITEM, Landsat, LandsatPQ, Sentinel 2, and WOfS notebooks, which have not yet been ported over.

[2020-08-05 00:18] robbibt commented on #615
This has been on our to-do list for a long time, and would be really fantastic to have. Of those notebooks, a rough order of priority would probably be:

1. **Landsat (Collection 3)**
2. **WOfS**
3. **FC**
4. **ITEM (and NIDEM)**
5. **HLTC**

The Landsat notebook should be written for Landsat Collection 3 data (the archived version was based on Collection 2). Because cloud masking data is now a ba

[2020-08-13 02:05] robbibt opened #618 "Update DEA Notebooks template and notebook headers to contain a direct Sandbox link"
In meeting with Today regarding the new DEA website, it was suggested that we should include an easy link to every example notebook that will take users directly to the DEA Sandbox so they can run code interactively.

This would be easy to do by updating the DEA Notebooks header template, ideally via a bulk update:

https://www.internalpointers.com/post/linux-find-and-replace-text-multiple-files

[2020-08-21 07:12] BexDunn commented on #586
Additonally please explicitly pass dtype and nodata from the rasterio options in

[2020-08-21 07:18] juan-guerschman opened #620 "update technical info in https://docs.dea.ga.gov.au/ with data from https://cmi.ga.gov.au/data-products/dea"
I was after some specific details on the nbar and nbart pipelines and methods in https://docs.dea.ga.gov.au/notebooks/DEA_datasets/Sentinel_2.html .
Simon Oliver pointed me to the very useful resource: https://cmi.ga.gov.au/data-products/dea/189/surface-reflectance-nbar-1-sentinel-2-msi and https://cmi.ga.gov.au/data-products/dea/190/surface-reflectance-nbart-1-sentinel-2-msi . They should be link

[2020-08-21 08:29] robbibt opened #621 "Remove nodata attributes for data outputted from `calculate_indices`"
From Slack:

![Screenshot_20200821-182649~2](https://user-images.githubusercontent.com/17680388/90869850-274eb000-e3dc-11ea-9447-c43a53787566.jpg)

[2020-08-23 23:24] robbibt commented on #513
Closed by #521

[2020-08-23 23:24] #513 closed

[2020-08-23 23:25] robbibt commented on #586
I might have a go at this this week if that's OK?

[2020-08-23 23:30] robbibt commented on #578
`load_ard` no longer has a 'product' parameter; closing this for now

[2020-08-23 23:30] #578 closed

[2020-08-23 23:30] robbibt commented on #606
Closing this in favour of #586

[2020-08-23 23:30] #606 closed

[2020-09-03 01:11] cbur24 commented on #533
New notebook [Vegetation_phenology](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Frequently_used_code/Vegetation_phenology.ipynb), and accompanying script [deafrica_temporal_statistics](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Scripts/deafrica_temporal_statistics.py)

[2020-09-11 01:52] #586 closed

[2020-09-11 04:17] robbibt commented on #621
This actually doesn't appear to be an issue: because `calculate_indices` creates new variables from scratch, no outputs contain `nodata` after all.

[2020-09-11 04:17] #621 closed

[2020-09-25 02:48] robbibt commented on #538
Quick audit of the `Scripts` folder: I think all of the `dea_*` prefixed modules are probably candidates for inclusion in a Python package... the `notebook_app*` ones are less re-usable and can probably still be hosted in `dea-notebooks`:

- dea_bandindices.py
- dea_bom.py
- dea_classificationtools.py
- dea_coastaltools.py
- dea_dask.py
- dea_datahandling.py
- dea_plotting.py
- dea_spatialtools.py

[2020-10-02 00:17] robbibt commented on #531
Looks like this is now included in the latest version of the notebook

[2020-10-02 00:17] #531 closed

[2020-10-02 01:02] CEKrause commented on #620
We face an issue where CMI links aren't persistent, so how can we link to them in things like this? It's a really good point, but I think we need to do some work with Simon's team on persistent IDs before we just copy links into the doco?

[2020-10-07 04:58] MatthewJA opened #637 ""Compatibility" spelled incorrectly throughout repo"
Most notebooks have "compatibility" spelled incorrectly as "compatability" at the top.

[2020-10-07 04:59] vaderjunior commented on #637
Hey,
I would like to do this.
Im new to all this so i dont understand what you meant by notebooks.
Could you explain?
thanks

[2020-10-07 05:01] MatthewJA commented on #637
Jupyter notebooks are the main way we organise our code in this repo. Anything with a .ipynb extension, e.g. [this file](https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Frequently_used_code/Analyse_multiple_polygons.ipynb).

[2020-10-07 05:02] MatthewJA commented on #637
If you haven't used notebooks before, perhaps this issue would be better for someone who has used them.

[2020-10-07 05:07] sasthan commented on #637
Hi, I have experience with notebooks, and can fix the typo 'compatability'. Can I take this? If yes, in which repo should I be merging my PR?

[2020-10-07 05:09] robbibt commented on #637
Hi @sasthan, we've just assigned this to @MatthewJA above. Thanks for the offer though!

[2020-10-07 05:16] MatthewJA commented on #637
@robbibt Fixed the PR. Should be good for review now.

[2020-10-07 05:20] robbibt commented on #637
Closed by #638

[2020-10-07 05:20] #637 closed

[2020-10-07 05:21] MatthewJA commented on #618
I think we can close this now, right @robbibt?

[2020-10-07 05:24] robbibt commented on #618
Yep, closing

[2020-10-07 05:24] #618 closed

[2020-10-09 04:53] MatthewJA opened #640 "Add more virtual product examples (or even a bunch of virtual products)"
I found it really hard to make a virtual product that did what I wanted it to do. The examples listed in the relevant notebook _work_, and are _great_, but deviating from them a little can break with very cryptic errors. I'd love either more examples, or possibly just a collection of ready-to-go virtual products (e.g. combined Sentinel 2, masked LS8...).

[2020-10-11 21:41] MatthewJA commented on #501
Is this just because of the hard-coded dates later in the notebook?

[2020-10-12 22:59] robbibt commented on #640
Yes, this would be really cool. For now I think the examples should live here so we have them all in one nice central catalogue:

https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Supplementary_data/Virtual_products/virtual-product-catalog.yaml

These ones would be particularly worth focusing on I think, as they could potentially be used for real (vs. demo) analyses:

- Combined La

[2020-10-12 23:01] robbibt commented on #640
I'd also love to have some extra documentation/comments in that YAML that separate the examples into the "demo" style recipes and the analysis-style recipes. I guess alternatively we could have one YAML called `virtual-product-examples.yaml` for the ones that already exist, and `virtual-product-catalog.yaml` for the more complex analysis-style ones?

[2020-10-12 23:03] MatthewJA commented on #640
I'd kinda like multiple YAML files - a monolithic YAML file is hard to navigate and understand, as I discovered when I tried to learn about virtual products the other day.

[2020-10-12 23:03] robbibt commented on #501
Yeah, that seems right (this one came up during some live tutorials so we quickly recorded it for later without looking into it in any more detail)

[2020-10-12 23:03] #501 closed

[2020-10-12 23:09] robbibt commented on #640
Yep OK, that's fair enough. I guess the question is how granular we want to go e.g. broken down to individual products/product suites? (e.g. surface reflectance virtual products, WOFS virtual products etc)? I don't mind having a few if they're nicely named and live in an easy to navigate to location like that "Virtual_products" folder

[2020-10-12 23:18] robbibt commented on #640
I have a Landsat 5, 7 and 8 combined virtual product available here that could be handy to add: https://gist.github.com/robbibt/5e1bf4e63d1f429ca2ee078227801dfc

Also pinging @uchchwhash who probably has some thoughts on this stuff too

[2020-10-12 23:38] uchchwhash commented on #640
What can I do to help? :smile:

First of all, @MatthewJA I would be interested to know more about the cryptic error messages that you got. I think improving the user experience there is something I can work on.

The ready-to-go virtual products were on the agenda, then the agenda sort of moved on :disappointed:

The only reason we had a monolithic catalog was to encourage YAML re-use. If more peop

[2020-10-13 00:05] MatthewJA commented on #640
@uchchwhash I didn't save the error messages - whoops! Perhaps I can try naively making some virtual products and see what issues I hit, as a user who "gets" the general point but doesn't know the details.

[2020-10-13 00:37] uchchwhash commented on #640
Yes, @MatthewJA please unlearn some of it for the sake of future users! :smile:

[2020-10-13 01:52] robbibt commented on #640
Here's an updated YAML for a combined Landsat 5, 7 and 8 virtual product, including a raw data product (`ls_nbart`), a normalised product with values between 0 and 1.0 (`ls_nbart_norm`) and finally a cloud/contiguity masked version (`ls_nbart_masked`):

https://gist.github.com/robbibt/5e1bf4e63d1f429ca2ee078227801dfc

[2020-10-19 05:59] CEKrause opened #645 "BoM web service data upgrade breaks our code"
Error is in dea_bom.py in Scripts folder.

`XMLSyntaxError: Opening and ending tag mismatch: HR line 2 and body, line 2, column 189`

"Apparently the problem is caused by changes to  string cleaning to remove the newline characters since they upgraded their SOS service. A temporary solution is adding the following line: `body = body.replace('\n', '')`"

[2020-10-19 21:34] CEKrause commented on #645
Should be fixed with PR #646

[2020-10-19 21:34] #645 closed

[2020-10-19 22:27] robbibt opened #647 "Broken formatting for Polygonising pixel edges notebook header"
In user guide: https://docs.dea.ga.gov.au/notebooks/Frequently_used_code/Polygonise_pixel_edges.html

![image](https://user-images.githubusercontent.com/17680388/96518336-699a4d80-12b6-11eb-923c-edff6c69543c.png)

Perhaps the header text was copied incorrectly somehow? Could try restoring directly from the notebooks template

[2020-10-21 00:50] #647 closed

[2020-10-21 00:53] #545 closed

[2020-10-21 00:54] BexDunn commented on #647
fixed by #648

[2020-10-23 04:37] MatthewJA commented on #640
https://gist.github.com/MatthewJA/e754ab7ed6c58f582e6fe9ea57e699d5

Here's the MNDWI + WOfS YAML I pulled out of #641.

[2020-10-23 05:14] MatthewJA opened #653 "Add a flag to disable Dask for dea_datahandling.load_ard?"
It would be nice to be able to disable Dask for `load_ard`. Note that `dask_chunks=None` is overridden:

[code]

But sometimes I don't want Dask. In this particular case I know I have enough memory and I want my nice progress bar... I [know this is intentional](https://github.com/GeoscienceAustralia/dea-notebooks/pull/527), which is why an override flag would be good.

[2020-10-23 05:14] MatthewJA commented on #653
@robbibt any thoughts?

[2020-10-23 06:00] robbibt commented on #653
Yeah, interesting! Just to understand the problem space: does your application use `load_ard` in combination with the `min_gooddata` parameter (e.g. `min_gooddata` set to something greater than 0)?

[2020-10-26 00:28] MatthewJA opened #656 "Passing a dask array to dea_spatialtools.subpixel_contours raises an error"
This:
[code]

Gives this:
[code]

But
[code]

works.

[2020-10-26 01:14] MatthewJA commented on #653
Yeah, it does. The reason I encountered wanting to disable Dask is because with Dask the progress_cbk doesn't work, but I could imagine that there are other scenarios that you'd not want Dask (I don't know what they'd be, because I'm still pretty new to Dask).

My _specific_ issue could be fixed by adding a progress bar, which wouldn't actually be a bad idea either.

[2020-10-26 03:18] robbibt commented on #653
Yeah, OK... so I guess the main reason `load_ard` was created was to optimise load times by lazy-loading a time series of data first, load only a single cloud masking band into memory, then only load the remainder of the data for a subset of clear timesteps. This can dramatically improve load times as only a tiny fraction of the data needs to be loaded, rather than the entire time series (i.e. fil

[2020-10-26 03:31] Kirill888 commented on #653
Dask version doesn't load data, so no progress inside `.load` is possible, progress bar on `.compute()` inside a jupyterlab notebook is possible, but currently doesn't work in sandbox, requires extra libs or configuration or both.

Dask version of `dc.load` can be quite a bit faster though, especially if you have more cores than the default 2 in sandbox, and choose chunking size well (bigger is mo

[2020-10-26 04:36] CEKrause opened #658 "Update VDI connection instructions"
NCI has upgraded the VDI, and connecting to the VDI is now slightly different
https://opus.nci.org.au/display/Help/4.+VDI+FAQ

These instructions are in the doco as well as the wiki.

[2020-10-26 05:06] MatthewJA opened #659 "Improve the error message for `mostcommon_crs` when no data are found"
Current error message:

[code]

[2020-10-27 03:43] robbibt opened #661 ""Parallel processing with Dask" notebook currently missing from user guide"
The [`09_Parallel_processing_with_Dask.ipynb` notebook](https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Beginners_guide/09_Parallel_processing_with_Dask.ipynb) has gone missing from the User Guide:

![image](https://user-images.githubusercontent.com/17680388/97254456-814b7600-1862-11eb-9d66-0e256dd61645.png)

This seems to be because the Readme uses the wrong capitalisation. The

[2020-10-27 06:44] BexDunn commented on #658
@CEKrause I think I've added comments in the wiki and put in a request to update the doco, did I miss anything?

[2020-10-27 22:27] CEKrause commented on #615
Closed and turned into separate issues instead.

[2020-10-27 22:27] #615 closed

[2020-10-27 22:28] CEKrause opened #665 "Update DEA_datasets folder to include Landsat Collection 3 notebook"
From Issue #615

[2020-10-27 22:29] CEKrause opened #666 "Update DEA_datasets folder to include Water Observations (WO) notebook"
From Issue #615 .

[2020-10-27 22:30] CEKrause opened #667 "Update DEA_datasets folder to include Fractional Cover notebook"
From Issue #615

[2020-10-27 22:31] CEKrause opened #668 "Update DEA_datasets folder to include ITEM and NIDEM"
From Issue #615

[2020-10-27 22:31] CEKrause opened #669 "Update DEA_notebooks folder to include High/Low Tide Composite"
From Issue #615.

[2020-10-27 22:32] #658 closed

[2020-10-27 22:33] BexDunn opened #670 "Port climate data and external data notebooks to dea australia from dea africa"
Decide where to put these!!!

[2020-10-27 22:36] BexDunn opened #671 "rename temporaltools and temporal statistics to dea_temporal"
porting dea africa scripts to dea australia

[2020-10-27 22:42] MatthewJA commented on #538
here's an excellent template for getting started: https://github.com/navdeep-G/setup.py

@robbibt

[2020-10-28 00:21] BexDunn commented on #538
Current plan is to have a subfolder Tools within dea-notebooks which contains setup.py etc
Then it should be synced to the sandbox as per the rest of the repo and perhaps we could pip install it as part of setup...
plan is to register with the dea packages index: https://packages.dea.ga.gov.au/

then we can create a similar setup in the africa repo, and a wrapper for some of the functions

[2020-10-28 00:21] BexDunn commented on #538
dea-tools is the new branch for this

[2020-10-28 00:51] BexDunn commented on #589
Steps:
- [X] create  `stable` branch
- [X] set docs to build off `stable`
- [x] update readme and wiki
- [x] set sandbox to sync from `stable`
- [ ] archive master
- [ ] delete master

[2020-10-28 01:03] BexDunn commented on #589
[x] create `stable` branch

[2020-10-28 01:04] robbibt commented on #589
We should also copy the latest version of the new `stable` branch code onto the NCI folder that is used to give users access to `dea-notebooks` when they install `digitalearthau` for the first time. It hasn't been updated since the notebooks refresh almost a year ago.

[2020-10-28 03:39] #671 closed

[2020-10-28 06:43] robbibt opened #679 "Update directory case for content inside "Scientific_workflows""
Currently two of the folders inside `Scientific_workflows` use camel case names which doesn't match the convention of capitalised snake case used in the rest of the repo:

![image](https://user-images.githubusercontent.com/17680388/97401459-f7c0a480-1944-11eb-96ae-afb9c67890a6.png)

For consistency, these could be renamed to:
- `DEA_Waterbodies`
- `Fractional_Cover_of_Water`

https://github.com/Ge

[2020-10-29 23:07] robbibt commented on #589
#683 updates the readme to change `master` refs to `stable`

[2020-10-30 00:07] robbibt commented on #670
Closed by #676 ! 🎈

[2020-10-30 00:07] #670 closed

[2020-10-30 01:36] #669 closed

[2020-10-30 01:37] #679 closed, assigned to nobody

[2020-10-30 01:48] robbibt commented on #589
@BexDunn Both the user guide and Sandbox have now been updated to use `stable`, I guess that just leaves archiving/deleting `master` now?

[2020-10-30 02:34] BexDunn commented on #589
Yep, should we archive, with a plan to delete in a month, or should we just go ahead and delete? I vote archive, because that way we won't randomly break stuff for people who haven't looked at the repo this week. Should we announce to dea-notebooks and/or user emails that we've updated the stable branch? maybe we could get the Sandbox crew to let people know?

[2020-11-02 03:28] MatthewJA opened #695 "interpolate_2d with method = RBF seems to use a lot of memory"
Enough that it crashed my 60 GB pod... This could be a bug.

[2020-11-02 03:29] MatthewJA commented on #653
Guess we don't need this much then.

[2020-11-02 03:29] #653 closed

[2020-11-02 03:33] robbibt commented on #695
It could be! If you do narrow anything down I would love to know... it's the main gobbler of memory for DEA Coastlines. How large was your area, or how many points were you interpolating? ( `interpolate_2d` wraps `scipy.interpolate.Rbf`, so that func is probably the bottleneck).

That func also has a `factor` param that can be used to essentially downsample the raster prior to interpolation, and l

[2020-11-02 05:39] MatthewJA opened #696 "Allow `dea_waterbodies.get_waterbodies` to accept multiple geohashes, and allow `dea_waterbodies.get_time_series` to accept multiple geohashes"
From #694

[2020-11-02 05:39] MatthewJA commented on #696
There's some technical issues that make this a bit tricky, but we can for sure do it (possibly inefficiently)

[2020-11-03 23:02] BexDunn commented on #661
Fixed, and the docs have been rebuilt :)
![image](https://user-images.githubusercontent.com/20038594/98049932-cbe17980-1e84-11eb-86b8-74de1c770aa0.png)

[2020-11-03 23:04] #661 closed

[2020-11-04 22:41] MatthewJA opened #701 "Update GDAL imports to new format"
Old format is:

New format is:

[2020-11-05 03:36] MatthewJA commented on #538
Added the dea-tools module to the dea-tools branch. Testing it out on the notebooks.

[2020-11-05 03:43] MatthewJA opened #702 "Demo notebooks should clean up any files they make in a cell at the end of the document"
Coastlines does this, but all other notebooks should as well.

[2020-11-05 10:38] shuangliu2023 opened #703 ""OperationalError: fe_sendauth: no password supplied" error when connecting to DEA datacube on NCI"
I followed the examples on DEA website and try to run them on both NCI and DEA Sandbox, and it shows 'OperationalError: fe_sendauth: no password supplied' when I run the code `dc=datacube.Datacube(app='Chlorophhyll-monitoring')` on both of them. I also tried other examples and this error also happened. How can I solve this problem? Thanks!

[2020-11-05 22:29] robbibt commented on #703
Hey @rtyme! Do you receive that message when you run the notebook on the DEA Sandbox, or just the NCI? I've just tested it on the Sandbox and didn't get that message - I can't see any way it would happen on the Sandbox, but on the NCI it sounds like it might be an issue related to a .pgpass file.

@eloise-b, does that sound right to you, and do you have any advice for how to address .pgpass isses?

[2020-11-05 23:18] whatnick opened #704 "Codify the notebook PR best practices as GitHub Actions"
Implement Github Actions to create a CI gate to:
- Black/YAPF format all notebooks
- Ensure all cells have been run and there are no empty cells
- Required Tags are present.

[2020-11-05 23:32] MatthewJA commented on #704
The action would delete empty cells, rather than rejecting the PR, right?

[2020-11-09 02:57] robbibt opened #707 "Create coastal masking `Frequently_used` notebook"
We get a query on Slack about creating a coastal mask roughly every month or so. It would be great to have a `Frequently_used_code` notebook that demonstrates several different approaches to this, including:

- Rasterize the 1:100,000 shapefile coastline here: g/data/r78/rt1527/shapefiles/australia/australia/cstauscd_r.shp  It's pretty low res, but can be good when you just need a really simple ap

[2020-11-09 03:14] MatthewJA commented on #707
We do sort of have one, here: https://docs.dea.ga.gov.au/notebooks/Scientific_workflows/DEAWaterbodies/DEAWaterbodiesSupplement/CreateAustralianCoastlineUsingITEM.html

[2020-11-09 03:46] robbibt commented on #703
@rtyme I think this will solve your problem: open a terminal ("System Tools >Terminal") and run this command, then restart Jupyter:
[code]

[2020-11-10 03:57] robbibt commented on #703
Hey @rtyme , I'm going to close this for now - please leave a comment if the solution above didn't help and we can have another look at this issue!

[2020-11-10 03:57] #703 closed, assigned to nobody

[2020-11-17 22:34] MatthewJA opened #710 "Speed up xr_vectorize"
`dea_spatialtools.xr_vectorize` is seemingly orders of magnitude slower than `dea_spatialtools.subpixel_contours`, despite both kind of doing the same thing. I suspect this is the call to gdal/rasterio, which we can probably replace with `skimage.measure.label`.

[2020-11-17 23:05] uchchwhash commented on #710
Do they return the same type of objects though?

[2020-11-17 23:22] MatthewJA commented on #710
No, but I have postprocessing code on the `subpixel_contours` to get them in the same format, and it's not the bottleneck as far as I can tell

[2020-11-24 21:25] alexgleith opened #715 "Local Dask cluster can fill Sandbox disks"
The current dask configuration will page to disk when it's out of memory, and it saves to a local directory, `./dask-worker-space` next to the notebook that's bring run.

As a short-term fix, if you open a terminal and run `du -sh ./*` you might see one folder with gigabytes of data in it, and if you chase that down and it's a dask-worker-space directory, it can be safely deleted.

But more long-t

[2020-11-24 22:01] Kirill888 commented on #715
Use this command in the terminal to list all dask caches

[code]

By default Dask creates `dask-worker-space` directory next to the notebook that started Dask client.

[2020-11-24 22:10] Kirill888 commented on #715
Relevant configuration is `dask.temporary-directory`

https://docs.dask.org/en/latest/configuration-reference.html#dask.temporary-directory

But also we should consider tweaking spill to disk behaviour `distributed.worker.memory.{target|spill|pause|terminate}`

https://docs.dask.org/en/latest/configuration-reference.html#distributed.worker.memory.target
https://docs.dask.org/en/latest/configuratio

[2020-11-25 02:58] robbibt commented on #665
This can now be closed! 🎉

[2020-11-25 02:58] #665 closed

[2020-11-25 02:59] robbibt commented on #601
This was recently addressed in the "DEA Landsat surface reflectance" notebook:
https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/DEA_datasets/DEA_Landsat_Surface_Reflectance.ipynb

As it's specific to Collection 3 Landsat, I think we can close this for now without also adding it to the Beginner's guide.

[2020-11-25 02:59] #601 closed

[2020-11-25 04:50] robbibt opened #723 "Fix read-the-docs formatting of Sandbox access link"
Because Sphinx/readthedocs is excessively picky and can't handle more than one type of formatting at once, the current bold and hyperlinked code in the header of our notebooks renders incorrectly on the DEA User Guide (even though it works fine on Github):

![image](https://user-images.githubusercontent.com/17680388/100184342-69d0dd00-2f35-11eb-976d-d5449a051abc.png)
https://docs.dea.ga.gov.au/not

[2020-11-25 05:51] MatthewJA commented on #723
Does it work if you swap the order of operations? i.e.

`**[Sign up to the DEA Sandbox](https://docs.dea.ga.gov.au/setup/sandbox.html)** to run this notebook interactively from a browser`

[2020-11-25 05:58] robbibt commented on #723
Let's test it! https://github.com/GeoscienceAustralia/dea-notebooks/pull/725

[2020-11-25 06:07] robbibt commented on #723
Unfortunately not:
![image](https://user-images.githubusercontent.com/17680388/100189500-8aeafb00-2f40-11eb-99ef-5502605a4e87.png)

It looks like the notebooks get converted to reStructuredText by readthedocs, and that doesn't support nested formatting :(
https://stackoverflow.com/a/11984833/2510900

[2020-12-01 04:22] #538 closed

[2020-12-01 04:42] MatthewJA opened #731 "Relocate notebookapp scripts into supplementary data"

[2020-12-01 04:42] MatthewJA opened #732 "Update documentation to use `dea_tools` instead of the sys/scripts import"
This amounts to changing the beginner's guide to using the new module.

[2020-12-01 23:02] MatthewJA opened #733 "datahandling.mostcommon_crs fails with an IndexError if there's no query results"
[code]

Not sure what the correct behaviour here should be, but probably not an IndexError. I could imagine either returning None, raising a ValueError, or returning a default CRS.

[2020-12-01 23:07] robbibt commented on #733
This overlaps with https://github.com/GeoscienceAustralia/dea-notebooks/issues/659

[2020-12-01 23:08] MatthewJA commented on #732
Of course, this shouldn't be done until the module is installed by default...

[2020-12-01 23:08] MatthewJA commented on #731
Maybe this should be done after we have dea_tools pip installed. Then we can easily import without sys shenanigans.

[2020-12-01 23:12] MatthewJA commented on #733
Wow, I don't even remember logging that one... at least I'm consistent!

[2020-12-01 23:12] #733 closed, assigned to nobody

[2020-12-01 23:16] robbibt commented on #659
Yep, returning `None` could work. The workflow where this error occurs is often when someone e.g. passes a Landsat 5 time range while still specifying Landsat 8 as the product etc, which then results in no results. A simple error message explaining this and nudging the user to select a more relevant product would help.

[2020-12-01 23:17] MatthewJA commented on #659
Another thing that can happen is you simply have no data in the time period, which is what I encountered it with

[2020-12-01 23:20] robbibt commented on #659
I might fix this this week - to clarify, I think that's the same issue as above: choosing a time period (e.g. 1990) where the specified product (e.g. Landsat 8) has no data?

[2020-12-01 23:24] MatthewJA commented on #659
Yep

[2020-12-10 05:10] MatthewJA opened #739 "Make a triangle FC plot notebook"

[2020-12-10 05:17] erialC-P opened #740 "Repeated normalisation during `calculate_indices` function"
When more than 1 index is supplied to the `calculate_indices` function in the bandindices.py script, the surface reflectance data is repeatedly normalised, resulting in SR and indice values that are increasingly deflated in value with increasing number of supplied indices.

[2020-12-10 05:25] erialC-P opened #741 "Broken `on_hover` functionality in `map_shapefile` function of `dea_plotting.py`"
`on_hover` functionality in `map_shapefile` function of `dea_plotting.py` reportedly broken for a wide range of users (myself included). A work around solution, based on the following code snippet, could be incorporated (courtesy of the widgets tutorial in the Scipy 2020 tutorial set - https://www.scipy2020.scipy.org/tutorial-information)

`from ipywidgets import Text, HTML, HBox
from ipyleaflet i

[2020-12-10 05:30] erialC-P opened #742 "Add legend to `map_shapefile` function of `dea_plotting.py`"
I added a handy legend to the `map_shapefile` function in `dea_plotting.py` and thought it could be a useful addition to the repo

`# Set the legend conditions and round to 2 decimal places

    if continuous:

        legend = LegendControl({np.around(np.quantile(classes, 0.00),2): colormap.rgb_hex_str(0.00),
                                np.around(np.quantile(classes, 0.25),2): colormap.rgb_he

[2020-12-13 22:49] #740 closed, assigned to nobody

[2020-12-13 22:53] erialC-P commented on #740
This is not an issue with the current version of the script. I was using an out-of-date version, sorry!

[2020-12-16 07:44] Kirill888 opened #744 "External resource used by Countour extraction notebook is not accessible"
At least right now I can not download this file, not when running on sandbox nor from home PC.

`http://srtm.csi.cgiar.org/wp-content/uploads/files/srtm_5x5/TIFF/srtm_66_20.zip`

[2021-01-12 05:07] Daniel-Trung-Nguyen opened #747 "ModuleNotFoundError: No module named 'mpl_toolkits.basemap'"
Hi, I was running the "Estimate Climate Driver Influence on Rainfall" notebook and it seems like the base map package has not been proper installed in the system. Please help double-check.
Thanks,
Daniel

[2021-01-17 22:28] robbibt commented on #747
Hey @Daniel-Trung-Nguyen , thanks for the report! What environment were you using when you got this issue? The NCI/VDI or DEA Sandbox? @MatthewJA wrote this notebook, so might have some thoughts on why it doesn't work depending on the environment.

[2021-01-18 00:32] Daniel-Trung-Nguyen commented on #747
Hi @robbibt and @MatthewJA,
I got this issue on the DEA Sandbox. The "import mpl_toolkits.basemap" loaded successfully with no issues on the NCI environment.
Cheers,
Daniel

[2021-01-19 01:04] #744 closed, assigned to nobody

[2021-01-19 02:38] MatthewJA commented on #747
This notebook will only work on the NCI - the data aren't available on Sandbox.

[2021-01-19 02:38] #747 closed, assigned to nobody

[2021-01-19 02:43] MatthewJA opened #750 "Upgrade matplotlib.basemap to cartopy in climate driver rainfall notebook"
#747 flagged that the basemap package doesn't exist on Sandbox. I thought at first this was just a version discrepancy but actually it turns out that basemap has been deprecated and replaced with cartopy. The climate driver rainfall notebook (and any others that use basemap) should be changed to use cartopy.

[2021-01-19 02:43] MatthewJA commented on #747
Looks like that notebook needs updating anyway to use cartopy.

[2021-01-26 22:44] #659 closed

[2021-02-09 00:07] Daniel-Trung-Nguyen opened #754 "Increase storage on Sandbox"
Hi,
DEA Sandbox only provides ~10GB of storage under /home/jovyan. I wonder if there is a way to increase the quota? I am running an analysis and need a little more storage.
Thanks,
Daniel

[2021-02-10 00:31] Daniel-Trung-Nguyen opened #755 "OSError: [Errno 122] Disk quota exceeded"
While running the notebook on NCI and save data to a folder on /home/586/tn9356, I encounter this problem.
OSError: [Errno 122] Disk quota exceeded: '/home/586/tn9356/.local/share/jupyter/runtime/kernel-b6f86981-8cd2-493e-958b-8b4847dcde9a.json'

What my script does is going through a list of points, load data, and save them as .nc files. The data were not stored in the memory.

The whole error me

[2021-02-10 00:51] robbibt commented on #755
Hey @Daniel-Trung-Nguyen! This can happen when you save files directory to your home directory on the VDI. It only has about 2 gb of storage, and once that runs out you'll get errors like this. Usually, we only use the home directory for demos, and clone `dea-notebooks` to another location on the NCI's `gdata` disk if it's for a more serious analysis. The problem is that `gdata` requires you to be

[2021-02-10 00:56] robbibt commented on #754
Hey Daniel, unfortunately at this stage it isn't possible to increase quotas on the Sandbox - your best bet might be to process your work in batches to free up space as you go. I've also left a comment on your other NCI/VDI issue which will hopefully help a little.

[2021-02-10 00:56] #754 closed, assigned to nobody

[2021-02-10 01:07] Daniel-Trung-Nguyen commented on #755
Hi @robbibt, thanks for the prompt response! I am a member of different projects such as rs0, xu18, if87, fk4, fj7. However, I am not sure if I can write data to these folders on the /gdata disk and if my data will be permanent. From the "How to use VDI" guide (https://opus.nci.org.au/display/Help/2.+How+to+use+VDI), it states that I can store data to /local or /short. However, when I tried to do

[2021-02-10 04:01] Daniel-Trung-Nguyen commented on #755
I got the answer. Using /local/if87 works. Thanks!

[2021-02-10 04:01] #755 closed, assigned to nobody

[2021-02-12 04:02] robbibt opened #756 "Basic analysis and change detection notebooks still use "write_geotiff""
This should be updated to use `write_cog` instead:

Basic analysis:
![image](https://user-images.githubusercontent.com/17680388/107728840-4acb3580-6d43-11eb-953b-b1c7a3195226.png)

Change detection:
![image](https://user-images.githubusercontent.com/17680388/107730933-c5e31a80-6d48-11eb-880f-bcc6e2caa5b5.png)

[2021-02-12 04:56] robbibt opened #757 "Update Subpixel waterbodies notebook to use geoserver DEA Waterbody data"
Currently the Subpixel waterbodies notebook fails if the user does not read it carefully and download waterbody data into their sandbox instance. This is a little clunky and can be improved now that we have DEA Waterbodies data available via Geoserver with no downloading required.

![image](https://user-images.githubusercontent.com/17680388/107731735-cda3be80-6d4a-11eb-8b0a-be5f82985f0f.png)

[2021-02-15 02:16] Daniel-Trung-Nguyen opened #759 "Error loading bom_rainfall_grids"
Hi,
I got this error when trying to load data from bom_rainfall_grids on the NCI VM. I am a member of the rr5 project
RasterioIOError: NETCDF:"/g/data/rr5/agcd/0_05/rainfall/daily/1997/rr.1997010119970101.grid.nc":rain_day: No such file or directory

Here is my code:

central_lon,central_lat = 148.2616,-22.1499
visual_buffer = 0.055
latitude = (central_lat - visual_buffer, central_lat + visual_buf

[2021-02-15 02:23] robbibt commented on #759
@GypsyBojangles or @omad might have some thoughts on this... I suspect it's been a while since anyone checked this data

[2021-02-15 02:33] Daniel-Trung-Nguyen commented on #759
Thanks for the reply, @robbibt! I am working on a project at QUT monitoring pasture health in relation to climate change. I would love to download the gridded maps of rainfall, temperature, humidity, and solar exposure from the BOM website (http://www.bom.gov.au/climate/maps/) to use in my analysis. Is this something that has been done for the NCI databases? If not, is there an option for me to cr

[2021-02-15 02:39] MatthewJA commented on #759
Are you part of rr5 on the NCI?

[2021-02-15 02:55] Daniel-Trung-Nguyen commented on #759
Hi @MatthewJA,
Yes, I am. However, the "agcd" folder did not show up on the g/data/rr5 in my file browser.
![image](https://user-images.githubusercontent.com/22897462/107900447-c23fd580-6f8c-11eb-802c-97c97110bcc0.png)
![image](https://user-images.githubusercontent.com/22897462/107900506-e4d1ee80-6f8c-11eb-9b52-4fc1edaab3bb.png)

[2021-02-25 20:55] MatthewJA commented on #759
Yep, that data seems to have been deleted. Anyone know why or where it went?

[2021-02-25 23:04] CEKrause commented on #759
I am not sure, but I got this message from NCI the other day, that may offer an alternative?

[2021-02-26 04:49] MatthewJA opened #761 "Reduce git repo size"
The git repo is nearly 2 GiB now. We should purge some old stuff and make sure we have no big files in the history.

[2021-03-01 04:54] juan-guerschman opened #762 "Update load_ard to load and cloud mask Collection 3 Fractional Cover (ga_ls_fc_3)"
@robbibt

[2021-03-01 04:57] robbibt commented on #762
This used to be possible for Collection 2 data using `load_clearlandsat`. To get the same functionality in `load_ard`, the challenge will be using the cloud mask from the multiple Landsat products (e.g. 'ga_ls5t_ard_3', 'ga_ls7e_ard_3', 'ga_ls8c_ard_3`) to mask the single Collection 3 Fractional Cover product.

[2021-03-01 04:58] robbibt commented on #757
I think this can be closed now

[2021-03-01 04:58] #757 closed, assigned to MatthewJA

[2021-03-01 04:59] juan-guerschman commented on #762
isn't the cloud info included in ga_ls_wo_3?  In that case, read also ga_ls_wo_3  and use those masks?

[2021-03-11 01:50] BexDunn opened #767 "Add an authors list to the repo"
**Describe the bug/issue**
Add an authors list, with links to people's github/emails.  like https://github.com/HypothesisWorks/hypothesis/blob/master/AUTHORS.rst

[2021-03-11 01:54] BexDunn opened #768 "List who is using and citing our work! (list of papers and/or projects)"
Like hypothesis does :)
https://hypothesis.readthedocs.io/en/latest/usage.html

* Short, M.A., Norman, R.S., Pillans, B., De Deckker, P., Usback, R., Opdyke, B.N., Ransley, T.R., Gray, S. and McPhail, D.C., 2020. Two centuries of water-level records at Lake George, NSW. Australian Journal of Earth Sciences, pp.1-20.
https://www.tandfonline.com/doi/pdf/10.1080/08120099.2020.1821247

* Bishop-Taylor

[2021-03-14 00:48] whatnick opened #770 "Implement a set of tests with dea-sandbox docker container to ensure stable environment"
The [dea-sandbox](https://github.com/GeoscienceAustralia/dea-sandbox) docker container is a complex beast with with lots of python modules whose dependency graph was recently captured [here](https://whatnick.github.io/python-depviz/index.html), this may have changed since.

Implement a [pytest-notebooks](https://pypi.org/project/pytest-notebook/) based test harness to render all the notebooks in a

[2021-03-14 05:12] whatnick opened #771 "Create optional non-interactive modes for notebooks to enable regression testing"
Some notebooks are interactive and require input for manual polygons via `ipyleaflet` or other client-side widgets. This makes automated testing suggested in #770 difficult. Implement detection of headless execution mode and run notebooks in non-interactive mode to ease automated testing and creation of stable Python environments to support this collection.

Initial research suggests this [snippet

[2021-03-14 05:25] whatnick commented on #507
@robbibt Please see associated issues #770 for optional regression testing. Also #771 as a sprint candidate for removing manual input dependencies. I would like someone on the science teams to work with me to try out the notebook testing in airflow DAG's soon.

[2021-03-15 06:36] robbibt commented on #771
Hey @whatnick, we did go through all of the notebooks in the repo a few months ago and add a "no_testing" tag to all of the interactive ones and any of the notebooks which are too slow for tests: https://github.com/GeoscienceAustralia/dea-notebooks/pull/572 ([some extra notes here](https://docs.google.com/document/d/1wPp2i_pRBSTAsASYN3R-fQhOfySIx-psgPbGI5XH0UU/edit#heading=h.ibq8n775ugph)), with t

[2021-03-15 06:38] robbibt commented on #761
Hey @MatthewJA, when you get a chance could you document some of your findings from the hackathon here so we have the proposed solutions in a persistent place?

[2021-03-15 23:00] Kirill888 commented on #771
@whatnick main issue is not so much detecting interactive vs non-interactive mode, one can always use environment variable to detect "running in unit test mode" for example. Issue is how to specify "default user input when there is no user", **without** significantly complicating the notebook. Remember that notebook code is for demonstration of functionality and is meant to be primarily for readin

[2021-05-12 06:10] Daniel-Trung-Nguyen opened #794 "Unable to open database file"
Hi, I'm encountering this error when saving a notebook "The history saving thread hit an unexpected error (OperationalError('unable to open database file',)). History will not be written to the database." This happened after I generated a large notebook (>300 MB)
Can you help advise on the solution?
Many thanks,
Trung
![image](https://user-images.githubusercontent.com/22897462/117926705-84a8d980-b

[2021-05-12 22:53] Daniel-Trung-Nguyen commented on #794
Just wanting to follow up on this, I believe the problem should be related to the disk quota exceeded on my home directory as it was the message that showed up when I tried to reinstall DEA on the VDI. However, when I checked the storage it showed that I only use 292 MB so far. How do I fix this?

![image](https://user-images.githubusercontent.com/22897462/118053772-71dbe680-b3c8-11eb-82ac-1b37284

[2021-05-12 23:10] CEKrause commented on #794
Your disk quota on the VDI home directory is very small, which is what's probably causing this issue. I do all my work on the VDI from a directory on /g/data. Do you have a storage location on /g/data you can work from instead of your home directory?

If you don't explicitly need to work from the VDI we also have a parallel environment operating on AWS that you can make use of, which has a small a

[2021-05-12 23:19] Daniel-Trung-Nguyen commented on #794
Thanks @CEKrause! I store all of my inputs and outputs on the /short/ folder. The home directory is only used to store my scripts and notebooks. Everything was working fine until yesterday after I tried to visualize more than 5000 time-series images on a cell output. The notebook crashed stating disk quota exceeded and could not open the database.
Checking my quota (below), it shows that my filesy

[2021-05-26 06:34] CEKrause opened #806 "Remove DEA Waterbodies from Scientific workflows and make DEA datasets notebook"
DEA Waterbodies has outgrown its life as a folder in `scientific_workflows`. Instead it should be highlighted with a notebook in `DEA_datasets` and the old code removed.

Make sure to point to the new DEA Waterbodies repo.

* [x] Remove DEA Waterbodies from DEA Notebooks
* [X] Create `DEA_datasets` notebook for Waterbodies

[2021-06-02 05:53] Daniel-Trung-Nguyen commented on #794
It was the error of out of disk storage. Just delete gosh files (.~) files or files stored in the ".ipynb_checkpoints" folder to release disk space

[2021-06-02 05:53] #794 closed, assigned to nobody

[2021-06-02 06:03] Daniel-Trung-Nguyen opened #819 "Data values of nbart bands"
Please excuse my ignorance but can someone quickly explain the data ranges in the NBART bands of the analysis-ready products. I thought the data values are reflectance and should range from 0 - 1. However, the values for nbart_red, nbart_green, nbart_blue loaded from the s2a_ard_granule product seem to range from 100 - 900 and nbart_nir_1 from 1000 to 3000. What are the units of these data and how

[2021-06-02 06:06] robbibt commented on #819
Hi @Daniel-Trung-Nguyen, the values are surface reflectance scaled between 0 and 10,000. This is simply because it's more efficient to store the values as integers than floating point values between 0.0 and 1.0. You can convert them to more typical surface reflectance values by dividing them by 10,000 (although this may not always be necessary, and will require more memory than leaving them as int

[2021-06-02 23:09] Daniel-Trung-Nguyen commented on #819
Hi @robbibt,  thanks for the very quick response! It makes sense to me now. I think that should be mentioned in the documents somewhere, if not it is a good idea to include.
A related question that I have and can't seem to find the answer anywhere, DEA products make it easy to pull data and create time series from a combination of ARD Landsat 5, 7, 8, and Sentinel 2. I know that all the data have

[2021-06-03 00:13] robbibt commented on #819
Hey @Daniel-Trung-Nguyen , I agree about documenting the /10,000 transformation, if you get a chance could you raise a Github issue suggesting that we explain that in the documentation?

The simple answer is that no, there are no transforms applied to adjust for sensor-specific biases. It will be up to your own use case whether you can combine the multiple sensors into a single time series - the d

[2021-06-03 00:20] Daniel-Trung-Nguyen commented on #819
@robbibt, thanks a lot for the answer. It sheds light on stuff that I was trying to understand going through the documentation. I'll raise an issue suggesting the /10,000 transformations.
Cheers,
Daniel

[2021-06-03 00:20] #819 closed, assigned to nobody

[2021-06-08 21:54] cbur24 opened #821 "`Machine_learning_with_ODC` notebook doesn't work"
The dea-tools function `collect_training_data` was recently **[updated](https://github.com/GeoscienceAustralia/dea-notebooks/pull/802)** with breaking changes.  The [Machine_learning_with_ODC](https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Frequently_used_code/Machine_learning_with_ODC.ipynb), which uses `collect_training_data` was not updated to reflect these changes.  The note

[2021-06-22 06:46] #821 closed, assigned to s-m-t-c

[2021-07-08 05:46] #667 closed

[2021-07-09 03:30] robbibt commented on #806
We do have a `DEA_datasets` notebook for Waterbodies, so half of this issue is complete: https://docs.dea.ga.gov.au/notebooks/DEA_datasets/DEA_Waterbodies.html

@CEKrause or @MatthewJA: can I get one of you to do the Waterbodies clean-up in DEA Notebooks next week if you have time? (I'm currently removing all traces of Collection 2-based code from the repo, and at the moment lots of Waterbodies no

[2021-07-09 03:34] #666 closed

[2021-07-09 03:55] robbibt commented on #723
Seems to be fixed:
![image](https://user-images.githubusercontent.com/17680388/125021087-5259f500-e0bd-11eb-86ed-a3387d1bf8ee.png)

[2021-07-09 03:55] #723 closed, assigned to nobody

[2021-07-09 03:58] robbibt commented on #589
This is done!

[2021-07-09 03:58] #589 closed

[2021-07-09 03:58] robbibt commented on #533
This is done, but we should revisit in the future

[2021-07-09 03:58] #533 closed

[2021-07-09 03:58] #519 closed

[2021-07-19 23:48] robbibt commented on #806
Done!

[2021-07-19 23:48] #806 closed, assigned to MatthewJA, CEKrause

[2021-08-02 01:28] CEKrause opened #845 "Update doco to reflect decommissioning of strudel/VDI"
**Describe the bug/issue**
Need to update the README doco and wiki with new instructions for accessing NCI OOD service (no longer via strudel).

[2021-08-02 01:31] CEKrause commented on #845
Some existing instructions that might be helpful? https://opus.nci.org.au/display/OOD/NCI%27s+dk92+Data+Analysis+Notebooks

[2021-08-02 01:36] jwurtzel commented on #845
Just some comments from my initial trials with @zhuq56
In order to use Jupyter Lab instance with dea modules, the module needs to be preloaded as part of the setup.
![image](https://user-images.githubusercontent.com/31399761/127792968-3d51d6d4-b3ab-43d0-9539-2d1566b81854.png)

This loads to the home directory.  We are still not sure how to launch from the preferred working directory (ie. g/data/r7

[2021-08-02 01:44] robbibt commented on #845
Yeah, this would be great to have nicely documented.

@jwurtzel: out of interest, why use the OOD JupyterLab launcher when you could use the OOD VDI launcher which should work the same way it used to? (just curious, I have no reason to think either option is better than the other, the VDI one just seemed more familiar when I logged in for the first time the other day)

[2021-08-02 01:51] jwurtzel commented on #845
@robbibt : To be honest, @zhuq56 is taking the lead on this, but I think she went that way because that's what the NCI documentation examples showed.  I haven't tried the VDI launcher.  Not sure if she has.  No clue if there is any difference in performance, but maybe using that will solve some of the path issues.  It looks like the way dask works in Jupyter Lab is different.  If that hasn't chang

[2021-08-02 02:13] robbibt commented on #845
Yep, OK! At the moment, it looks like the VDI launcher is a close copy of the original VDI which will hopefully make transitioning easy - it does however look like the JupyterLab launcher supports some extra things like possibly being able to launch a dask cluster from Gadi itself which would be cool - definitely interested in any comparisons you make between them!

[2021-08-03 01:23] zhuq56 commented on #845
Morning Robbi,

We did the processing in OOD Jupyter launcher and it works!

Another question is tracking the long processing step via the Dask cluster.
Tried to make the add the dask extension following
https://opus.nci.org.au/display/OOD/3.2.1.+JupyterLab+Basics

but back with the error “communicating with server extension. Consult the documentation for how to ensure that it is enabled.”
TypeErr

[2021-08-11 04:33] MatthewJA opened #847 "Use a GitHub action to mirror dea-tools in a separate repo"
dea-notebooks is huuuuuge and it makes installing dea-tools a right hassle. Let's add a GitHub action that automatically mirrors Tools/ to its own repo.

[2021-08-11 23:50] MatthewJA opened #849 "Replace Scripts with Tools"
Not using an actual install (which wouldn't work on the NCI), but instead:

[code]
would become
[code]

We also need to move auxiliary scripts to the extra data folder. We can then delete Scripts.

[2021-08-11 23:51] MatthewJA commented on #849
Ping @robbibt @BexDunn @s-m-t-c for visibility

[2021-08-11 23:55] robbibt commented on #849
This will be a reasonably large job, so we might want to divide labour a little (e.g. we could allocate `Beginners_guide`, `Frequenty_used_code`, `Real_world_examples` to different people etc

Should also note here that this is ideally a short term fix - in the longer run it would be much preferable to import directly from the installed module. We just need a solution for that on the NCI first whi

[2021-08-11 23:55] robbibt commented on #849
Relevant to #731 and #732

[2021-08-12 00:08] MatthewJA commented on #849
Agreed on both

[2021-08-17 01:39] MatthewJA commented on #847
Let's actually make this upload to PyPI instead.

[2021-09-02 23:43] MatthewJA commented on #847
Done! https://pypi.org/project/dea-tools/

[2021-09-02 23:43] #847 closed, assigned to MatthewJA

[2021-09-02 23:44] MatthewJA commented on #849
Now that we're on PyPI, maybe we can get dea-tools==latest installed on the Sandbox? That'd make this easier.

[2021-09-02 23:44] MatthewJA commented on #849
(whoops)

[2021-09-02 23:55] MatthewJA opened #861 "Update the dea-tools documentation with pip"
Current installation details are out-of-date; these should be updated once we're happy with the PyPI release process.

[2021-09-03 00:19] robbibt commented on #861
Yep, fantastic. We can also add in a bit of a larger blurb about what `dea-tools` is/does, and a summary of some of its main features up the top:

![image](https://user-images.githubusercontent.com/17680388/131931920-e5ad65c6-ff5c-4387-bbb4-c028c9aad25b.png)

[2021-09-03 02:12] MatthewJA commented on #861
That sounds good!

[2021-09-08 06:15] robbibt commented on #861
Done

[2021-09-08 06:15] #861 closed, assigned to nobody

[2021-09-08 06:16] robbibt commented on #768
Done!

[2021-09-08 06:16] #768 closed, assigned to nobody

[2021-09-09 23:58] #731 closed, assigned to nobody

[2021-09-09 23:58] #732 closed, assigned to nobody

[2021-09-09 23:58] #849 closed, assigned to nobody

[2021-09-10 00:16] robbibt commented on #701
Done in the latest PR

[2021-09-10 00:16] #701 closed, assigned to nobody

[2021-09-10 06:42] robbibt opened #868 "Expose local dask client as variable in `create_local_dask_cluster`"
This would allow users to shut down a client without restarting their notebook server.

https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Tools/dea_tools/dask.py#L41-L83

[2021-09-16 02:42] leaf0917 opened #871 "Module import error"
When I import packages below:

import datacube
import pandas as pd
from odc.ui import DcViewer

Set some configurations for displaying tables nicely
pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_rows', None)

then report error:

ModuleNotFoundError                       Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_21316/3410133711.py in <module>
      1

[2021-09-16 03:26] robbibt commented on #871
Hi @leaf0917, where are you running this code? On the DEA Sandbox? I've just tried running this notebook that uses the code you posted above and so far it seems to be working as intended:

https://docs.dea.ga.gov.au/notebooks/Beginners_guide/03_Products_and_measurements.html

[2021-09-16 04:02] leaf0917 commented on #871
I just download it and run the \Beginners_guidefile\03_Products_and_measurements.ipynb in jupyter notebook

[2021-09-18 06:34] #871 closed, assigned to nobody

[2021-09-23 07:00] robbibt opened #875 "Add tool for interactively generating training data"
This is something that is asked regularly, and would be a great addition to the repo. Several people within DEA have implement something like this in the past (e.g. @s-m-t-c @cbur24 @MatthewJA) - it'd be great to pool ideas and come up with a nice, simple tool for interactively generating training data based on DEA data.

[2021-09-24 05:45] BexDunn opened #877 "TCW/B/G coefficients in calculate indices are for non-normalised values."
**Describe the bug/issue**
bandindices.py has normalise = True set on tasseled cap (Crist 85) coefficients and warns if normalise is set to false. Coefficients are for 0-10000 not for 0-1, so we should either remove the index from the normalisation, or if people want a normalised result then we will need the option to normalise after calculation.

Preferred method of fixing: remove TCI from normal

[2021-09-24 06:02] BexDunn commented on #877
To clarify: I'm going to take the TCI out of the warning that says you're using it wrong if you don't normalise. The coefficients are set for values in the range 0-10000, if you normalise you will be using different thresholds and that is fine, but I usually use the non-normalised values and I don't want people to see a warning if they do this because using the non-normalised values is valid.

[2021-09-28 01:56] robbibt opened #879 "Create "Optimising memory use" notebook in `Frequently_used_code`"
We should create a `Frequently_used_code` notebook that documents some useful techniques for optimising memory use when analysing DEA data.

@Kirill888 has lots of useful tools for doing that here: https://github.com/opendatacube/odc-tools/blob/develop/libs/algo/odc/algo/_masking.py

E.g. you can use something like `fmask_to_bool` to produce a boolean mask from fmask flags:
https://github.com/open

[2021-09-28 02:04] robbibt commented on #879
From Kirill:

[2021-09-29 06:39] #877 closed, assigned to BexDunn

[2021-09-30 07:50] leaf0917 opened #881 "question"
Is the scene in DEA all processed ard data? If yes, which software is generally used for processing? And can the original images downloaded from usgs be imported into dea?

[2021-09-30 08:16] robbibt commented on #881
Hi @leaf0917, there's lots of information about how the DEA ARD datasets are processed here:
https://cmi.ga.gov.au/data-products/dea/365/dea-surface-reflectance-landsat-8-oli-tirs#basics

There are USGS products available on the DEA Sandbox, but they are not available systematically (only for certain locations):

https://explorer.sandbox.dea.ga.gov.au/products/ls8_usgs_l2c1/extents
https://explore

[2021-10-07 04:12] cbur24 commented on #879
A step-by-step example of using some of these tools are available in the [Cloud and Pixel Quality Masking](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/master/Frequently_used_code/Cloud_and_pixel_quality_masking.ipynb) notebook in deafrica-sandbox-notebooks, including the [mask_cleanup](https://github.com/opendatacube/odc-tools/blob/9e126245a0180064ccb933e0731f72a00dc32ad3

[2021-10-08 07:14] leaf0917 commented on #881
The processing of ARD data seems very complicated. Can I download USGS product and import it into DEA, and use it directly without ARD processing?

[2021-10-15 00:58] #868 closed, assigned to robbibt

[2021-10-28 01:06] BexDunn commented on #881
Hey @leaf0917 if you are looking to use the opendatacube with downloaded USGS data, you might want to investigate the Open Data Cube project documentation. DEA is an implementation of the Open Data Cube for Australia, and you might like to 'build your own cube'? https://datacube-core.readthedocs.io/en/latest/  . Otherwise you can certainly download your own copies of USGS data or access them progr

[2021-10-29 07:37] leaf0917 commented on #881
Thank you for your reply. I'm just interested in ODC. I don't have any specific ideas. If so, I'll consult you in detail！

[2021-11-24 00:59] BexDunn opened #891 "Replace print statements in bandindices with logging or warning statements"
**Describe the bug/issue**
In the band_indices function, the default behaviour is to print out which bands we are dropping. This breaks when the function is run non-interactively e.g. running in conflux.

 `if drop:
        bands_to_drop=list(ds.data_vars)
        print(f'Dropping bands {bands_to_drop}')`

**Steps to reproduce**
Run band indices code non-interactively

**Expected behaviour**
Code

[2021-11-24 01:08] robbibt commented on #891
Interesting! Do print statements really break things like conflux? I have mixed feelings about functions that produce lots of warnings - it often creates a lot of visual clutter and can scare users into thinking their code has broken (e.g. pretty common for new users to confuse a warning for an error message). In this case the "Dropping bands" message isn't so much a warning, but a bit of extra co

[2021-11-24 01:18] BexDunn commented on #891
we could use logging.info for example instead? Then it's an INFO: not an ERROR or WARNING

This would allow us to set logging levels e.g. info/warning/debug/error/critical

I could be wrong, but I'm pretty sure print prints to stdout and when there is none it can cause errors.

[2022-02-17 05:14] robbibt opened #896 "Polygon drill notebook failing at polygon download and unzip stage"
**Describe the bug/issue**
The `Polygon_drill.ipynb` notebook currently fails when trying to download, unzip and read in the Canberra locality shapefile. I think this might be because the file has changed name in the background since we last ran the notebook.

@CEKrause Tagged you because I think you might have been the original author of the notebook, but not sure!

**Steps to reproduce**
Steps t

[2022-03-08 05:00] CEKrause opened #901 "DEA Mangroves doesn't have an intro notebook"
There isn't an intro notebook for new users of mangroves that can be linked from the website.

[2022-03-08 05:00] CEKrause opened #902 "DEA WIT doesn't have an intro notebook"
No `DEA datasets` notebook for intro to WIT that can be linked off the web page.

[2022-03-21 00:58] #896 closed, assigned to CEKrause

[2022-04-05 01:17] robbibt opened #913 "Add cloud buffering example to Landsat Collection 3 notebook"
In DEA, we turn off Fmask's default cloud mask buffering so that users can apply custom buffering themselves. Because of this, we should include a simple example of buffering Fmask in the DEA Datasets notebook below, so that users know how to produce a mask that is consistent with Fmask's usual default settings.

https://docs.dea.ga.gov.au/notebooks/DEA_datasets/DEA_Landsat_Surface_Reflectance.htm

[2022-05-03 03:53] Kooie-cate opened #916 "some notebooks not updated to collection 3"
A number of notebooks in the repo still load landsat collection 2 dataset. For example a number of the Beginners_Guide notebooks including 04_Loading_Data and 05_Plotting load collection 2 Geomedians.

[2022-05-20 01:51] robbibt commented on #916
Running this:
[code]
Indicates these notebooks need to be updated:
[code]

[2022-05-20 06:37] pindge opened #918 "docker-compose relies on out of date setup"
https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/docker-compose.yml#L42-L43 is pointing a non maintained csv file, the better solution is to mount `dea-config` and add product with script like https://github.com/GeoscienceAustralia/dea-config/blob/master/check-product-definitions.sh

[2022-05-23 05:32] #918 closed, assigned to pindge

[2022-06-22 04:32] anton-seaice opened #926 "rasterstats dependency missing in pip install"
**Describe the bug/issue**
When dea-tools is installed in pip, rasterstats is not installed but is needed for dea_tools/spatial.py

**Steps to reproduce**
1. pip install dea-tools in a clean environment
2. In python, attempt to "import dea_tools.spatial"
3. ModuleNotFoundError is returned

**Expected behaviour**
Module loads without error.

**Environment information**
pip install of dea-tools

[2022-06-23 01:21] anton-seaice commented on #926
geopy module is also missing

[2022-06-29 03:28] ErinKenna opened #929 "cannot import name 'write_geotiff' from'datacube.helpers'"
https://github.com/GeoscienceAustralia/dea-notebooks/blob/654b252a809f15c89ef6a8f3b2cfb69ca743903a/Tools/dea_tools/spatial.py#L48

**Describe the bug/issue**
Import of `dea_tools.spatial` raises "ImportError: cannot import name 'write_geotiff' from'datacube.helpers'".
Error introduced by recent [commit](https://github.com/opendatacube/datacube-core/commit/c84da04e0a81a32d269c1bece19ae649d11b2d44)

[2022-06-29 03:38] ErinKenna commented on #929
Added PR: https://github.com/GeoscienceAustralia/dea-notebooks/pull/930

[2022-08-01 04:50] #881 closed, assigned to nobody

[2022-08-01 23:43] robbibt commented on #929
Closed in #930

[2022-08-01 23:43] #929 closed, assigned to nobody

[2022-08-01 23:54] robbibt commented on #916
I think this has been addressed in #917 so closing for now - let's re-open if we notice any other notebooks that are using C2 data!

[2022-08-01 23:54] #916 closed, assigned to nobody

[2022-08-01 23:55] robbibt commented on #756
This appears to have been fixed

[2022-08-01 23:55] #756 closed, assigned to nobody

[2022-08-01 23:56] robbibt commented on #739
Is this still a live issue @BexDunn? Can close if not

[2022-08-01 23:58] robbibt commented on #695
This is still relevant, but no longer a priority as most of the coastal code is shifting to a reprojection method of resampling low-res data using `odc.geo` (rather than interpolation using RBF)

[2022-08-01 23:58] #695 closed, assigned to nobody

[2022-08-01 23:59] robbibt commented on #507
We now have a minimal set of automated tests on this repo, so I think we can close this for now

[2022-08-01 23:59] #507 closed

[2022-08-02 01:18] CEKrause opened #935 "02_DEA notebook uses old name for WO"
**Describe the bug/issue**
(https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Beginners_guide/02_DEA.ipynb)
Figure 1 is missing.
Old names used for Water Observations.

[2022-08-02 01:22] robbibt commented on #935
Old names all over the place actually, by the looks of it all of our products were renamed since this was made (DEA Intertidal Elevation, DEA Fractional Cover etc):

![image](https://user-images.githubusercontent.com/17680388/182271568-f90121e8-d13a-4b82-858c-f129bf92f7b5.png)

[2022-08-02 01:22] robbibt commented on #935
Plus referring to "25 m resolution" etc

[2022-08-05 05:00] Kooie-cate opened #938 "change collection params in calculate_indices to reflect that C3 is default landsat collection now"
calculate_indices in https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Tools/dea_tools/bandindices.py was written before collection 3. the need to specify which Landsat collection is in use causes problems for this tool's use in Land Cover. making changes to the tool so that if passed 'ga_ls' it assumes ga_ls_c3 as the default Landsat collection would solve this problem.

changes a

[2022-08-23 18:49] Pkandel11 opened #945 "Database layout version error"
I get this error when I am trying to use dea_tools. I tried to unset pro_lib environment but nothing changed. Could anyone help me with this?
<img width="675" alt="Screen Shot 2022-08-23 at 2 02 52 PM" src="https://user-images.githubusercontent.com/91206640/186239368-6cc5255a-d70a-4da5-8ea3-5210be079686.png">
**Describe the bug/issue**
A clear and concise description of what the bug/issue is, incl

[2022-08-30 00:16] robbibt commented on #945
Hi @Pkandel11! Thanks for this - Can I ask where you're running this code? Is it on the DEA Sandbox?

[2022-09-14 04:16] CEKrause opened #957 "Remove MODIS from he scientific workflows folder"
**Describe the bug/issue**
MODIS code no longer works. Move to a separate branch to keep it, but remove from the main repo and associated user guide.

[2022-10-07 03:55] margaretharrison opened #959 "Add how to review a pull request section to wiki"
The current guide to using git doesn't include instructions on how to review a pull request. We should add it.

https://github.com/GeoscienceAustralia/dea-notebooks/wiki/Guide-to-using-DEA-Notebooks-with-git

[2022-10-07 03:55] BexDunn commented on #902
Sai and I are working on this :D

[2022-10-18 03:47] robbibt opened #963 "Sentinel-2 NRT data not showing on "Exporting satellite imagery" notebook"
**Steps to reproduce**
Steps to reproduce the behaviour. For example:
1. Open DEA Sandbox
2. Launch the "Frequently_used_Code/Exporting_satellite_imagery.ipynb" notebook
3. Select "Sentinel-2 NRT" data and a recent date

**Expected behaviour**
Sentinel-2 NRT data should show on the interactive map

**Environment information**
DEA Sandbox

[2022-11-10 04:40] Kooie-cate opened #975 "problem with plot land cover tool"
**Describe the bug/issue**
A clear and concise description of what the bug/issue is, including screenshots if relevant.

**Steps to reproduce**
Steps to reproduce the behaviour. For example:
1. Open DEA Sandbox
2. Launch the "DEA_datasetsDEA_land_cover.ipynb" notebook
3. change time range in cell 4 to be a single year
4. Run all cells except skip cell 10
5. Code in section "11" produces error "Att

[2022-11-14 02:32] #963 closed, assigned to nobody

[2022-11-14 02:32] #926 closed, assigned to nobody

[2022-11-14 02:34] #710 closed, assigned to nobody

[2022-11-14 02:36] robbibt opened #977 "Update Coastal erosion notebook to add improvements from DE Africa"
DE Africa's Coastal erosion notebook includes additional sections for calculating rates of change values and plotting these on an interactive map: https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/blob/main/Real_world_examples/Coastal_erosion.ipynb

We should implement these in Australia.

[2022-11-15 04:51] robbibt opened #979 "Update `load_ard` to load Sentinel-2 Collection 3 data"
This will involve a simplification to the code to remove some of the hacks we had to implement to account for different metadata and band names available in Sentinel-2 vs Landsat data, and include masking via s2cloudless.

[2022-11-15 04:54] robbibt opened #980 "Update at least some Sentinel-2 Collection 3 notebooks to use cloud masking from `s2cloudless`"
We should update this repository to include at least some nice examples of applying cloud masking using the new `s2cloudless_mask` band. This will provide users with code to get started with this new cloud mask.

An optional extra could be a simple notebook in `Frequently_used_code` that shows how to load and manipulate the quantitative `s2cloudless_prob` cloud probability layer (and any cool appl

[2022-11-15 05:10] robbibt opened #981 "Add new "DEA datasets" notebook for Sentinel-2 Collection 3 data"
The DEA datasets folder of DEA Notebooks includes standardised notebooks that introduce each of our products and how to get started with them using the Datacube:
https://docs.dea.ga.gov.au/notebooks/DEA_datasets/README.html

These notebooks include a set of standard sections to make it easy for users to follow along and compare between products:

**1. Background:** Taken directly from CMI
**2. Des

[2022-11-21 03:12] robbibt opened #982 "Document the new default CRS/resolution "load hints" functionality"
This PR adds load hints to our products that will allow users to load them into a default CRS and resolution without having to supply them manually using `output_crs` and `resolution`:
https://github.com/GeoscienceAustralia/dea-config/pull/1117

We should document this in DEA Notebooks/user guide so that this change does not catch users unawares.